$font-families: (
    'Apercu-Light': '../fonts/apercu-light',
    'Apercu-Regular': '../fonts/apercu-regular',
    'Lyon': '../fonts/lyon-light'
);

@each $font-family-name, $font-family-filename in $font-families {
    @font-face {
        font-family: $font-family-name;
        src: url('../fonts/#{$font-family-filename}.woff2') format('woff2'),
            url('../fonts/#{$font-family-filename}.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}
