@font-face {
    font-family: 'Apercu-Light';
    src: url('https://cdn.shopify.com/s/files/1/0031/3003/2246/files/apercu-light.woff?1639336492781664687')
            format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0031/3003/2246/files/apercu-light.woff2?1639336492781664687')
            format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lyon-Light';
    src: url('https://cdn.shopify.com/s/files/1/0031/3003/2246/files/lyon-light.woff2?1639336492781664687'),
        url('https://cdn.shopify.com/s/files/1/0031/3003/2246/files/lyon-light.woff?1639336492781664687');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Apercu-Light', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lyon-Light', Arial, sans-serif;
}

h5 {
    font-size: 24px !important;
    letter-spacing: 0;
    text-transform: capitalize;
}

svg * {
    stroke: #033b7c !important;
}

#call-create-account {
    margin-top: 12px;
}
#call-create-account a {
    font-weight: 600;
}

#account-creation-message-header > .section__header:first-of-type h3 {
    font-size: 1.3rem !important;
}

#account-creation-message-header {
    margin-top: 24px !important;
}

#show-discount-form-link,
.payment-due__price {
    color: #033b7c !important;
    font-weight: bold;
}

.thank-you__title {
    font-size: 30px;
}

.order-summary__section--header h3,
.section__header h3 {
    font-family: 'Apercu-Light', Arial, sans-serif;
}

.btn {
    border-radius: 30px;
}

.btn[value='Create'] {
    display: none;
}

.admin-notice {
    display: none;
}
