@import 'lib/inuitcss/settings/settings.core';
@import 'settings/config';
@import 'settings/colors';
@import 'settings/global';

@import 'lib/inuitcss/tools/tools.font-size';
@import 'lib/inuitcss/tools/tools.clearfix';
@import 'lib/inuitcss/tools/tools.hidden';
@import 'node_modules/sass-mq/mq';
@import 'tools/heading';
@import 'tools/hover-color';
@import 'tools/rem';
@import 'tools/theme';

$form-field-height: 60px;
$form-field-horizontal-padding: 20px;
$form-field-vertical-padding: 14px;
$form-field-border-color: $color-grey-light;
$form-field-border-color--active: darken($form-field-border-color, 15%);
$form-field-font-size: $inuit-global-font-size;
$form-field-multiline-rows: 10;
$form-checkbox-size: 10px;
$form-field-label-width: 160px;

@mixin baseButton() {
    color: $color-primary !important;
    font-family: $global-font-family-bold !important;
    font-size: 12px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-transform: uppercase !important;

    &:hover,
    &:focus {
        color: $color-primary !important;
    }
}

@mixin dangerButton() {
    color: $color-red !important;

    &:hover,
    &:focus {
        color: $color-red !important;
    }
}

@mixin tableHeading() {
    color: $color-grey;
    font-size: 12px;
    left: 0;
    padding-bottom: $global-spacing-small;
    text-transform: uppercase;
    top: 15px;
}

/* Main layout and furniture
   ====================================== */

/**
 * 1. Remove smaller max-width
 */
.rc_layout__container {
    max-width: none !important;
    position: relative;
}

/**
 * 1. Remove horizontal padding from layout columns
 */
.rc_layout__sidebar,
.rc_layout__content {
    padding-left: 0 !important; /* [1] */
    padding-right: 0 !important; /* [1] */
}

/**
 * 1. Hide the customer's name
 */
.rc_customer__name {
    display: none !important; /* [1] */
}

/**
 * 1. Remove list styling
 */
.rc_sidebar__menu,
#ReCharge-Nav ul {
    list-style: none !important; /* [1] */
}
.rc_menu__item a,
#ReCharge-Nav a {
    display: block;
    padding-bottom: $global-spacing-small;
    padding-top: $global-spacing-small;
}
.rc_menu__item.active a,
#ReCharge-Nav .active a {
    color: $color-primary;
    font-family: $global-font-family-bold !important;
    position: relative;
}

#ReCharge-Mobile-Nav {
    background-color: $color-white;
    border: 0;
    border-radius: $global-radius--small;
    font-family: $global-font-family-bold;
    padding: $global-spacing-small;
    margin-bottom: $global-spacing;
    -webkit-appearance: none;
}

.rc_layout__sidebar .btn-back {
    font-family: $global-font-family-bold;
    margin-top: -30px;
    position: absolute;
}
.rc_layout__sidebar .btn-back::before {
    content: '\2190';
    margin-right: $global-spacing-tiny;
}

/**
 * 1. Add spacig under main titles
 */
.rc_title-bar__title {
    font-family: $global-font-family-headings !important;
    margin-bottom: $global-spacing !important;
}
.rc_title-bar__description {
    font-family: $global-font-family-body !important;
    margin-bottom: $global-spacing-small !important;
    margin-top: $global-spacing !important;
}

@include mq($from: mobile) {
    .rc_layout {
        display: flex;
    }

    .rc_layout__sidebar {
        width: 260px;
    }
    .rc_layout__sidebar::before {
        border-left: 2px solid $color-grey-light;
        content: '';
        height: 100%;
        left: 260px - $global-spacing-large;
        position: absolute;
        width: 1px;
    }

    #ReCharge-Nav .active a::after {
        background-color: $color-primary;
        bottom: 10%;
        content: '';
        height: 80%;
        left: 260px - $global-spacing-large;
        position: absolute;
        width: 2px;
    }

    /**
     * 1. Add spacing padding between content and sidebar
     */
    .rc_layout__content {
        padding-right: $global-spacing-large !important; /* [1] */
        width: calc(100% - 260px);
    }

    .rc_title-bar__title {
        margin-bottom: $global-spacing-large !important;
    }
}

/**
 * Add white box UI to content tables
 */
.rc_subscriptions__subscription,
.rc_schedule__order,
.page__customers__billing .table-responsive,
.page__customers__orders .table-responsive,
#content__subscriptions__item .rc_layout__content,
.page__customers__billing__address .form {
    background-color: $color-white !important;
    box-shadow: $global-shadow !important;
    padding: $global-spacing !important;

    @include mq($from: mobile) {
        padding: $global-spacing-large !important;
    }
}

.rc_table__container br {
    display: none;
}

/* Subscription overview table
   ====================================== */

/**
 * 1. Hide purchase address heading
 */
.purchase-address {
    display: none !important; /* [1] */
}

.rc_table th {
    @include tableHeading();
    border-bottom: 1px solid $color-pampas-dark;
}

.rc_table td {
    border-bottom: 1px solid $color-pampas-dark;
    padding-bottom: $global-spacing-small;
    padding-top: $global-spacing-small;
}

/**
 * 1. Hide the 'frequency' and 'price' columns, all boxes have the same frequency and price so need for it here
 */
.rc_subscriptions__subscription__item__schedule,
.rc_subscriptions__subscription__item__price,
.th-frequency,
.th-price {
    display: none !important; /* [1] */
}

/**
 * Set the column for remaining columns
 */
.th-product,
.rc_subscriptions__subscription__item__product,
.th-amount,
.rc_subscriptions__subscription__item__qty,
.th-next-charge-date,
.rc_subscriptions__subscription__item__date {
    width: auto !important;
}
.th-actions,
.rc_subscriptions__subscription__item__actions {
    width: 130px !important;
}

/**
 * 1. Hide the subscription 'processing' message if it's empty
 */
.rc_text-base:empty {
    display: none; /* [1] */
}

/**
 * 1. Remove default styling for last column items
 */
.rc_subscriptions__subscription__item__actions * {
    width: auto !important; /* [1] */
}

.rc_subscriptions__subscription__item__actions a {
    @include baseButton();
}

/**
 * 1. Remove link break between actions
 */
.rc_subscriptions__subscription__item__actions br {
    display: none;
}

.rc_subscriptions__subscription__item__actions a {
    @include baseButton();
}

.rc_subscriptions__subscription__item__cancel a {
    @include dangerButton();
    margin-left: $global-spacing-small;
}

@include mq($until: mobile) {
    .rc_subscriptions__subscription__items thead {
        display: none;
    }

    .rc_subscriptions__subscription__items tr,
    .rc_subscriptions__subscription__items td {
        display: block;
        width: 100% !important;
    }

    .rc_subscriptions__subscription__items tr + tr {
        margin-top: $global-spacing;
    }

    .rc_subscriptions__subscription__items td {
        position: relative;
        padding-left: 100px;
    }
    .rc_subscriptions__subscription__items td::before {
        position: absolute;
        @include tableHeading();
    }

    $subscription-table-headings: (
        1: 'Product',
        2: 'Quantity',
        3: 'GBP',
        5: 'Next charge',
        6: 'Actions'
    );

    @each $nth-index, $heading in $subscription-table-headings {
        .rc_subscriptions__subscription__items td:nth-child(#{$nth-index})::before {
            content: '#{$heading}';
        }
    }
}

/* Subscription item
   ====================================== */

#content__subscriptions__item {
    label {
        color: $color-grey;
        display: block;
        font-family: $global-font-family-bold;
        font-size: 12px;
        margin-bottom: $global-spacing-tiny;
        text-transform: uppercase;
    }
    label::after {
        content: ': ';
    }

    /**
     * 1. Hide the 'change quantity' button, this is not supported right now
     */
    .rc_toggler__button {
        display: none; /* [1] */
    }

    #rc_subscriptions__items__payment_method a,
    #rc_subscriptions__items__address a {
        @include baseButton();
        margin-top: $global-spacing-tiny;
    }

    /**
     * 1. Align the 'cancel' button with the 'edit' button
     */
    #rc_subscriptions__items__cancel a {
        @include baseButton();
        @include dangerButton();
        margin: 0;
    }
}

/* Delivery schedule
   ====================================== */

/**
 * 1. Add spacing between each order
 */
.rc_schedule__order {
    margin-bottom: $global-spacing !important; /* [1] */
}

/**
 * Add a 'next delivery' label so we can easily see which one is next
 */
.rc_schedule__order__1 .rc__schedule__orders__order__date::before {
    color: $color-grey;
    content: 'Next delivery';
    display: block;
    font-family: $global-font-family-bold;
    font-size: 12px;
    margin-bottom: $global-spacing-small;
    text-transform: uppercase;
}

.rc__schedule__orders__order__date {
    font-size: $inuit-font-size-h5;
    margin-bottom: $global-spacing-small !important;
}

.rc_schedule__order__address {
    font-size: 14px !important;
    margin-bottom: $global-spacing !important;
}
.rc_schedule__order__address::before {
    content: 'Delivering to: ';
    font-family: $global-font-family-bold;
}

.rc_schedule__order__item__skip a,
.rc_schedule__order__item__edit a {
    @include baseButton();
}

.rc_schedule__order__item__skip a {
    background-color: transparent !important;
    border-color: transparent !important;
    color: $color-primary !important;
}

@include mq($until: mobile) {
    .rc_schedule__order thead {
        display: none;
    }

    .rc_schedule__order tr,
    .rc_schedule__order td {
        display: block !important;
    }

    .rc_schedule__order tr + tr {
        margin-top: $global-spacing;
    }

    .rc_schedule__order td {
        position: relative;
        padding-left: 100px;
    }
    .rc_schedule__order td::before {
        position: absolute;
        @include tableHeading();
    }

    $subscription-table-headings: (
        1: 'Products',
        2: 'Quantity',
        3: 'GBP',
        4: 'Type',
        5: 'Skip',
        6: 'Actions'
    );

    @each $nth-index, $heading in $subscription-table-headings {
        .rc_schedule__order td:nth-child(#{$nth-index})::before {
            content: '#{$heading}';
        }
    }
}

/* Billing information
   ====================================== */

/**
 * The billing information doesn't have specific classes on the table elements so we have to scope
 * with the parent container's class.
 */
.page__customers__billing {
    .rc_table {
        tbody {
            display: flex;
            flex-direction: row-reverse;
        }

        tr {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        td {
            border: 0 !important;
            width: 100% !important;
            vertical-align: top;
        }
        td:first-child {
            font-size: large;
            padding: 0 !important;
            width: 220px !important;
        }
        td:last-child {
            width: auto !important;
        }

        strong {
            color: $color-grey;
            font-family: $global-font-family-bold;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    .rc_button {
        @include baseButton();
    }
}

@include mq($until: mobile) {
    .page__customers__billing {
        .rc_table tr,
        .rc_table td {
            display: block;
        }

        .rc_table tr + tr {
            margin-top: $global-spacing;
        }

        .rc_table td {
            border-bottom: 0 !important;
        }
    }
}

/* Billing address
   ====================================== */

.page__customers__billing__address {
    .form__control {
        margin-bottom: $global-spacing;
    }

    .form__label {
        display: block;
        flex: none;
        font-size: 12px;
        margin-bottom: $global-spacing-tiny;
        text-transform: uppercase;
    }

    .form__input,
    select {
        border: 1px solid $form-field-border-color;
        border-radius: $global-radius--small;
        font-family: $global-font-family-bold;
        font-size: $form-field-font-size;
        padding-bottom: $form-field-vertical-padding;
        padding-left: $form-field-horizontal-padding;
        padding-right: $form-field-horizontal-padding;
        padding-top: $form-field-vertical-padding;
        outline: none;
        -webkit-appearance: none;
        transition: $global-transition;
        width: 100%;
    }
    .form__input:focus {
        border-color: $form-field-border-color--active;
        box-shadow: $global-shadow;
    }

    .rc_button {
        @include baseButton();
    }
}

/* Cancel subscription
   ====================================== */

.page__customers__subscriptions__cancel {
    p > a {
        @include baseButton();
    }

    p + p {
        margin-top: $global-spacing-tiny;
    }

    .rc_form__input {
        border: 1px solid $form-field-border-color;
        border-radius: $global-radius--small;
        font-family: $global-font-family-bold;
        font-size: $form-field-font-size;
        height: 114px;
        padding-bottom: $form-field-vertical-padding;
        padding-left: $form-field-horizontal-padding;
        padding-right: $form-field-horizontal-padding;
        padding-top: $form-field-vertical-padding;
        outline: none;
        -webkit-appearance: none;
        transition: $global-transition;
        width: 100%;
    }
    .rc_form__input:focus {
        border-color: $form-field-border-color--active;
        box-shadow: $global-shadow;
    }

    .rc_form__group > a {
        @include rem(padding, 12px 24px);
        align-self: flex-start;
        background-color: $color-red;
        border: 1px solid;
        border-radius: $global-radius;
        color: $color-white;
        cursor: pointer;
        display: inline-block;
        font: inherit;
        font-family: $global-font-family-bold;
        line-height: 1.1;
        margin-top: $global-spacing;
        outline: none;
        text-align: center;
        transition: $global-transition;
        vertical-align: middle;

        &:hover,
        &:focus {
            background-color: darken($color-red, 5%);
            border-color: darken($color-red, 5%);
            color: $color-white;
        }
    }
}
