{% section 'hero-banner' %}

{% section 'for-your-dog-banner' %}

<div class="t-secondary u-mh@mobile u-mt">
    {% section 'featured-quotes' %}
</div>

{% section 'the-box-teaser' %}

{% section 'product-cta-banner' %}
