{% section 'hero-banner' %}

<section class="o-section o-wrapper" data-sticky-container>
    <div class="o-layout o-layout--large u-stack-layout@mobile">
        <div class="o-layout__item u-7/12@mobile u-8/12@tabletSmall">
            {% section 'faq' %}
        </div><div class="o-layout__item u-5/12@mobile u-4/12@tabletSmall">
            <div class="u-mt js-sticky" data-margin-top="124">
                <div class="t-secondary">
                    <div class="u-p u-p+@desktop">
                        <h3 class="u-heading u-h4 u-mb">Supported breeds</h3>
                        <p>For now, our boxes are designed for small dogs. If your dog weighs up to 20kg, our boxes are perfect for you.</p>
                        <button class="c-button c-button--primary c-button--round u-1/1 js-modal-open js-track-event" data-modal="dog-sizes-guide" data-category="Dog sizes guide modal" data-label="FAQ sidebar">View supported breeds</button>
                    </div>
                    
                    <div class="u-8/12 u-m-auto c-illustration">
                        {% include 'illustration-stare-off-no-line' %}
                        <style>.c-illustration svg { margin-bottom: -17px; }</style>
                    </div>
                </div>
                <footer class="u-mv+ u-text-align-center s-content-links">
                    Still need help? <a href="/pages/contact" class="js-track-event" data-category="Get in touch CTA" data-label="FAQ sidebar">Get in touch</a>
                </footer>
            </div>
        </div>
    </div>
</section>

{% section 'product-cta-banner' %}
{% section 'box-big-dogs-fallback-modal' %}
{% section 'dog-sizes-guide-modal' %}
