<section class="o-section o-wrapper" data-sticky-container>
    <div class="o-layout o-layout--huge u-stack-layout@mobile">
        <div class="o-layout__item u-7/12@mobile u-8/12@tabletSmall">
            <h1 class="u-heading u-h2 u-text-center u-mb+ c-animated-item">{{ page.title }}</h1>

            {{ page.content }}

            <div class="u-mt">
                {%- form 'contact' -%}
                    {%- if form.posted_successfully? -%}
                        <p class="form-success u-color-primary">
                            <strong>{{ 'contact.form.post_success' | t }}</strong>
                            <script>setTimeout(function(){window.scrollTo(0,0);},1500);</script>
                        </p>
                    {%- else -%} 
                        {{ form.errors | default_errors }}

                        <div class="c-form js-contact-form">
                            <div class="c-form__field u-flex">
                                <input type="text" name="contact[name]" id="ContactFormName" placeholder="{{ 'contact.form.name' | t }}" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" class="c-form__input u-1/1 u-radius-small">
                                <input type="text" name="contact[email]" id="ContactFormEmail" placeholder="{{ 'contact.form.email' | t }}" value="{% if form[email] %}{{ form[email] }}{% elsif customer %}{{ customer.email }}{% endif %}" class="c-form__input u-1/1 u-radius-small u-ml-">
                            </div>
                            <div class="c-form__field">
                                <textarea name="contact[body]" class="c-form__input c-form__input--multiline u-1/1 u-radius-small" placeholder="{{ 'contact.form.message' | t }}" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
                            </div>
                            <div class="c-form__field">
                                <input type="hidden" name="redirect_to" value="pages/get-in-touch?contact_posted=true">
                                <button class="c-button c-button--primary">{{ 'contact.form.send' | t }}</button>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endform -%}
            </div>
        </div><div class="o-layout__item u-5/12@mobile u-4/12@tabletSmall">
            <div class="t-secondary u-mt u-p u-p+@mobile js-sticky" data-margin-top="124">
                <h3 class="u-heading u-h4 u-mb">FAQs</h3>
                <p>Have a question about our service? All common questions are covered in our FAQs so you might want to check there first.</p>

                <a href="/pages/faq" class="c-button c-button--primary c-button--round u-1/1">View FAQs</a>
            </div>
        </div>
    </div>
</section>
