<section class="o-section o-wrapper u-text-align-left u-text-align-center@mobile">
    <div class="u-max-w-600 u-m-auto">
        <h1 class="u-heading u-mb+ c-animated-item">{{ page.title }}</h1>

        <div class="s-wysiwyg s-content-links">
            {{ page.content }}
        </div>
    </div>
</section>
