<section class="o-section o-wrapper o-wrapper--medium">
    <h1 class="u-heading u-text-center u-mb+ c-animated-item">{{ page.title }}</h1>

    <div class="s-wysiwyg s-content-links">
        {{ page.content }}
    </div>
</section>
