<div class="t-secondary u-mh@mobile">
    <section class="o-section o-wrapper u-pv u-pv+@mobile">
        {% section 'the-box-intro' %}
    </section>
    <section class="o-section o-wrapper">
        {%- assign is_block = true -%}
        {% include 'subscription-features-bar' %}
    </section>
</div>

<section class="o-section o-wrapper">
    {% section 'the-box-items' %}
</section>

<div></div>

<section class="o-section o-wrapper o-wrapper--huge">
    {% section 'the-box-model' %}
</section>

{% section 'the-box-subscription' %}

{% section 'the-box-as-a-gift' %}
