{% section 'hero-banner' %}

{% section 'breed-landing-page-the-box-teaser' %}

{% section 'the-box-items-simple' %}

<section class="o-section o-wrapper">
    {% section 'breed-landing-page-gallery' %}
</section>

{% section 'product-cta-banner' %}
