<section class="o-section o-wrapper o-wrapper--medium">
    <h1 class="u-heading u-text-center u-mb+ c-animated-item">{{ page.title }}</h1>

    {%- if page.content != blank -%}
        <div class="u-mb">
            {{ page.content }}
        </div>
    {%- endif -%}

    <script id="CookieDeclaration" src="https://consent.cookiebot.com/{{ settings.cookiebot_id }}/cd.js" type="text/javascript" async></script>
</section>
