{% section 'hero-banner' %}

{% section 'the-box-items-simple' %}

<div class="t-secondary u-mh@mobile">
    <section class="o-section o-wrapper">
        {% section 'the-box-items-detailed' %}
    </section>
</div>

{% section 'the-box-items-teaser' %}
