<div class="u-background-secondary u-mh@mobile">
    <section class="o-section o-wrapper">
        {% section 'product' %}
    </section>
    <div class="t-tertiary u-p-">
        <div class="o-wrapper">
            <div class="u-case-upper u-text-align-center u-font-size-11 u-flex u-justify-center">
                <svg width="14" height="14" class="u-mr--" xmlns="http://www.w3.org/2000/svg"><g fill="#221F20" fill-rule="evenodd" opacity=".4"><path d="M12.25 0H1.75C.785 0 0 .785 0 1.75v7.875c0 .965.785 1.75 1.75 1.75h4.813v2.188a.438.438 0 0 0 .746.309l2.497-2.497h2.444c.965 0 1.75-.785 1.75-1.75V1.75C14 .785 13.215 0 12.25 0zm.875 9.625a.876.876 0 0 1-.875.875H9.625a.436.436 0 0 0-.31.128l-1.877 1.878v-1.569A.438.438 0 0 0 7 10.5H1.75a.876.876 0 0 1-.875-.875V1.75c0-.483.392-.875.875-.875h10.5c.483 0 .875.392.875.875v7.875z" fill-rule="nonzero"/><path d="M3.5 4.375h7v1h-7zM3.5 6.125h7v1h-7z"/></g></svg> 
                Do you need any help? Please visit our &nbsp; <a href="/pages/faq" class="u-color-primary u-font-weight-600 js-track-event" target="noopener" event-category="FAQ CTA" event-label="Subscribe form footer">FAQ</a>
            </div>
        </div>
    </div>
</div>

{% section 'box-big-dogs-fallback-modal' %}
{% section 'dog-sizes-guide-modal' %}
{% section 'gift-subscription-review-modal' %}
