<section class="o-section o-wrapper o-wrapper--medium">
    <div class="o-layout o-layout--large u-stack-layout@mobile">
        <div class="o-layout__item u-6/12@mobile u-pt@mobile u-pt+@tablet">
            <h1 class="u-heading u-mb">Looks like you've got lost</h1>
            <p>Whoops! We can't find what you're looking for. If you're lost, one of these links might be helpful:</p>
            
            <ul class="u-pl s-content-links">
                {%- for link in linklists.404.links -%}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>

            <a href="/" class="c-button c-button--primary u-mt">Go home</a>
        </div><div class="o-layout__item u-6/12@mobile u-text-align-right">
            {%- assign classes = 'u-max-h-500' -%}
            {% include 'illustration-head-in-box-1' %}
        </div>
    </div>
</section>
