<header class="u-mb+ u-mb++@desktop">
    <h1 class="u-heading" data-order="1">
        Hello again, <span class="u-case-capitalize">{{ customer.first_name }}</span>.

        <span class="u-color-primary u-pv u-label">(<a href="/account/logout">Logout</a>)</span>
    </h1>
</header>
