<div class="c-accordion">
    <button class="c-accordion__toggle u-p- u-p@mobile js-visibility-toggle" id="{{ accordion_id }}-toggle" aria-controls="{{ accordion_id }}" aria-expanded="false" role="tab">
        <div class="u-flex-grow">
            {{ accordion_title }}
        </div>

        {%- assign classes = 'c-svg c-accordion__toggle-icon' -%}
        {% include 'plus-icon' %}
    </button>
    <div class="c-accordion__content" id="{{ accordion_id }}" aria-labelledby="{{ accordion_id }}-toggle" aria-hidden="true" role="tabpanel">
        <div class="u-p- u-p@mobile u-pt0 u-pt0@mobile s-content-links">{{ accordion_content | newline_to_br }}</div>
    </div>
</div>
