<div class="u-font-size-11 u-case-upper u-color-grey">Only</div>
<span class="u-heading-alternate {% if is_block %}u-h1{% else %}u-h3{% endif %}">£25</span> <span class="u-heading-alternate u-h5">/month</span>

<ul class="o-list-inline">
    {%- for i in (1..5) -%}
        <li class="o-list-inline__item {% if i > 1 %}u-ml--{% endif %}">
            {% include 'icon-star' %}
        </li>
    {%- endfor -%}
</ul>
