<div class="c-box-signup-illustrations">
    {%- assign classes = 'c-box-signup-illustrations__illustration' -%}
    {% include 'illustration-laptop' %}

    <div class="c-box-signup-illustrations__price u-show@mobile">
        {% include 'box-price-and-rating' %}
    </div>

    <img src="{{ 'box.png' | asset_img_url: '800x' }}" srcset="{{ 'box.png' | asset_img_url: '1200x' }} 2x" alt="" class="c-box-signup-illustrations__box">
</div>
