<div class="t-secondary u-flex-grow u-mh@mobile">
    <div class="o-section o-wrapper c-animated-content">
        {%- unless template contains '/login' or template contains '/register' or template contains '/reset' or template contains 'activate' -%}
            {% include 'account-title' %}
        {%- endunless -%}

        {{ content_for_layout }}
    </div>
</div>
