<section class="c-hero-banner c-hero-banner--align-{{ banner_text_position }} u-mh@mobile {{ banner_classes }} c-hero-banner--buttons-{{ banner_button_theme | default: 'dark' }}" style="background-color: {{ banner_background_colour }};">
    <div id="banner-image-{{ banner_id | default: 1 }}" class="c-hero-banner__image"></div>
    <style>#banner-image-{{ banner_id | default: 1 }} { background-image: url('{%- if banner_background_image_mobile != blank -%}{{ banner_background_image_mobile }}{%- else -%}{{ banner_background_image }}{%- endif -%}'); } @media only screen and (min-width: 46.0525em) { #banner-image-{{ banner_id | default: 1 }} { background-image: url('{{ banner_background_image_large }}'); }}</style>

    <div class="o-wrapper u-flex-grow">
        <div class="c-hero-banner__wrapper c-animated-content">
            <div class="u-color-{{ banner_text_theme }} u-ph u-ph0@mobile">
                {% if banner_title != blank %}
                    <h1 class="u-heading u-h1 u-mb" data-order="1">{{ banner_title }}</h1>
                {% endif %}

                {% if banner_text != blank %}
                    <p data-order="2">{{ banner_text }}</p>
                {% endif %}
            </div>

            {% if banner_primary_cta_url != blank or banner_secondary_cta_url != blank %}
                <div class="{% if block.settings.primary_cta_url != blank and block.settings.secondary_cta_url != blank %}c-button-list{% endif %} u-mt">
                    {% if banner_primary_cta_url != blank %}
                        {%- assign url = banner_primary_cta_url -%}
                        {%- assign label = banner_primary_cta_label -%}
                        {%- assign attributes = 'data-order="3" data-category="' | append: block.settings.primary_cta_label | append: ' CTA" data-label="Hero banner"' -%}
                        {% include 'primary-cta-button' %}
                    {% endif %}

                    {% if banner_secondary_cta_url != blank %}
                        {%- assign url = banner_secondary_cta_url -%}
                        {%- assign label = banner_secondary_cta_label -%}
                        {%- assign attributes = 'data-order="4" data-category="' | append: block.settings.secondary_cta_label | append: ' CTA" data-label="Hero banner"' -%}
                        {% include 'secondary-cta-button' %}
                    {% endif %}
                </div>
            {%- endif -%}
        </div>
    </div>
</section>
