<svg width="15" height="14" class="c-svg c-svg--w15" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 11.254L12.135 14l-1.226-5.18L15 5.339l-5.393-.455L7.5 0 5.393 4.883 0 5.338 4.091 8.82 2.865 14z" fill="#FAE345" fill-rule="nonzero"/></svg>
