<button class="c-button c-button--white c-button--no-block u-circle c-modal__close js-modal-{{ modal_class | default: 'close' }}" data-modal="{{ modal_name }}" aria-label="Close" title="Close">
    <svg width="24" height="24" class="c-svg c-svg--currentcolor c-svg--w14 c-button__icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M10.73 11.792l-6.79 6.792L5 19.644l6.792-6.79 6.792 6.79 1.06-1.06-6.79-6.792L19.643 5l-1.06-1.06-6.792 6.79L5 3.94 3.94 5l6.79 6.792z" id="close-icon"/></defs><use fill="#033b7c" fill-rule="nonzero" xlink:href="#close-icon"/></svg>
</button>
