<script>
window.globalData.notifications = [
    {%- unless customer.metafields.actionscompleted.dogdetails -%}
        {
            key: 'dogInformation',
            label: 'New!',
            text: 'Fill in the details below to help us tailor your Barkism box, send you birthday treats, and more.'
        }
    {%- endunless -%}
];
</script>
