<div class="t-white u-shadow u-p u-p+@mobile">
    <h2 class="u-heading u-h3 u-block u-text-align-center u-mb u-mb+@mobile">{{ 'customer.recover_password.title' | t }}</h2>

    <p class="u-mb">{{ 'customer.recover_password.subtext' | t }}</p>

    {% form 'recover_customer_password' %}
        {%- if form.errors -%}
            <div class="s-form">
                {{ form.errors | default_errors }}
            </div>
        {%- endif -%}

        <div class="c-form__field">
            <input
                type="email"
                name="email"
                id="RecoverEmail"
                class="c-form__input u-1/1 {% if form.errors contains 'email' %}c-form__input--error{% endif %}"
                placeholder="{{ 'customer.recover_password.email' | t }}"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
            >
        </div>

        {%- if form.password_needed -%}
            <div class="c-form__field">
                <div class="c-form__inline-link">
                    <input type="password"
                        name="customer[password]"
                        id="CustomerPassword"
                        class="c-form__input u-1/1 u-mt- {% if form.errors contains 'password' %}c-form__input--error{% endif %}"
                        placeholder="{{ 'customer.login.password' | t }}">
                    
                    <a href="#recover" id="RecoverPassword" class="c-form__link">{{ 'customer.login.forgot_password' | t }}</a>
                </div>
            </div>
        {%- endif -%}

        <div class="c-button-list u-mt">
            <button type="submit" class="c-button c-button--primary">
                {{ 'customer.recover_password.submit' | t }}
            </button>

            <a href="/account/login" class="c-button c-button--naked u-ph0 u-color-grey u-font-size-14 u-text-align-right">Cancel</a>
        </div>
    {% endform %}
</div>
