<a href="{{ url }}" class="c-button c-button--primary c-button--round u-depth {% if label == 'Sign up' %}c-button--icon{% endif %} js-track-event" {{ attributes }}>
    {%- if label == 'Sign up' -%}
        {%- assign classes = 'c-svg--w15' -%}
        {%- include 'icon-paw' -%}
    {%- endif -%}
    {{ label }}
</a>
