{%- if settings.promo_popup_active -%}
    <div class="c-modal c-modal--promo js-modal u-hide" data-modal="promo-popup">
        <div class="c-modal__wrapper c-modal__wrapper--small u-p u-shadow t-white u-flex@mobile js-modal-wrapper">
            <div class="c-modal__layout o-layout u-stack-layout@mobile u-flex@mobile">
                <div class="o-layout__item u-7/12@mobile c-modal__image-container">
                    <div class="c-modal__image" style="background-image: url('{{ settings.promo_popup_image | img_url: '800x' }}');"></div>
                </div><div class="o-layout__item u-5/12@mobile u-flex@mobile u-direction-column u-justify-between">
                    <div class="c-modal__content-container u-flex@mobile u-pl@mobile u-pl+desktop u-direction-column u-justify-center u-will-change u-text-align-center js-promo-popup-wrapper">
                        {%- if settings.promo_popup_title -%}
                            <div class="u-h2 u-heading u-font-weight-600 u-mb" role="heading">{{ settings.promo_popup_title }}</div>
                        {%- endif -%}

                        {%- if settings.promo_popup_text -%}
                            <p>{{ settings.promo_popup_text | newline_to_br }}</p>
                        {%- endif -%}

                        <div class="c-button-list">
                            {%- if settings.promo_popup_primary_cta_label and settings.promo_popup_primary_cta_url -%}
                                {%- assign url = settings.promo_popup_primary_cta_url -%}
                                {%- assign label = settings.promo_popup_primary_cta_label -%}
                                {%- assign attributes = 'data-category="' | append: settings.promo_popup_primary_cta_label | append: ' CTA" data-label="Promo popup"' -%}
                                {% include 'primary-cta-button' %}
                            {%- endif -%}
                            {%- if settings.promo_popup_secondary_cta_label and settings.promo_popup_secondary_cta_url -%}
                                {%- unless settings.promo_popup_secondary_cta_url == request.path -%}
                                    <a href="{{ settings.promo_popup_secondary_cta_url }}" class="c-button c-button--primary c-button--round c-button--ghost u-ml- c-button--small js-track-event" data-category="{{ settings.promo_popup_secondary_cta_label }} CTA" data-label="Promo popup">
                                        {{ settings.promo_popup_secondary_cta_label }}
                                    </a>
                                {%- endunless -%}
                            {%- endif -%}
                        </div>
                    </div>
                </div>

                {%- assign modal_class = 'promo-popup-close' -%}
                {%- assign modal_name = 'promo-popup' -%}
                {% include 'modal-close-button' %}
            </div>
        </div>
    </div>

    <script>
    window.globalData.promoPopup = {
        cookieDuration: '{{ settings.promo_popup_cookie_duration | default: 0 }}',
        isActive: {{ settings.promo_popup_active }},
        modalTimeout: {{ settings.promo_popup_modal_timeout | default: 0 | times: 1000 }},
        primaryCTAURL: '{{ settings.promo_popup_primary_cta_url }}',
        secondaryCTAURL: '{{ settings.promo_popup_secondary_cta_url }}',
        title: '{{ settings.promo_popup_title }}'
    };
    </script>
    <script src="{{ 'promo-popup.js' | asset_url }}" async defer></script>
{%- endif -%}
