<blockquote class="c-quote u-text-align-center u-ph@mobile">
    <svg width="16" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M16 7.784h-3.5V6.397c0-2.052 1.063-3.44 3.063-3.742V0C12.687.241 9.75 2.293 9.75 6.397V14H16V7.784zm-13.313 0V6.397c0-2.052 1.126-3.44 3.126-3.742V0C2.938.241 0 2.293 0 6.397V14h6.25V7.784H2.687z" fill="#221F20" fill-rule="evenodd"/></svg>

    <p class="u-heading u-h2 u-mt">{{ text }}</p>
    
    <footer class="u-mt u-label u-color-grey">
        &mdash; {{ quotee }}

        {%- if quotee_image != blank -%}
            <img src="{{ quotee_image | img_url: '86x' }}" alt="" class="u-mt u-display-block u-m-auto" style="max-width: 48px;">
        {%- endif -%}
    </footer>
</blockquote>
