<svg width="12" height="9" xmlns="http://www.w3.org/2000/svg"><path d="M11.862 4.133L8.266.152a.433.433 0 0 0-.659 0 .554.554 0 0 0 0 .73l2.802 3.103H.469c-.26 0-.469.232-.469.52 0 .286.21.518.468.518h9.94l-2.8 3.096a.554.554 0 0 0 0 .73c.09.1.209.151.33.151.122 0 .24-.05.331-.152l3.597-3.985a.559.559 0 0 0-.004-.73z" fill="#003B71" fill-rule="nonzero"/></svg>
