<div class="u-max-w-450 u-text-align-center u-mv++ u-m-auto">
    <p>Redirecting you to the Sign Up page...</p>

    {% include 'illustration-head-in-box-2' %}
</div>

<script>
window.location.href = '/products/monthly-subscription';
</script>
