<ul class="c-feature-list u-color-grey u-case-upper {% if feature_layout == 'bar' %}c-feature-list--columns{% endif %}">
    <li class="c-feature-list__item u-flex u-align-items-center">
        <svg class="c-svg u-mr" width="32" height="19" viewBox="0 0 32 19" style="width: 32px; margin-left: -4px;" xmlns="http://www.w3.org/2000/svg"><g fill="#000" fill-rule="nonzero" stroke="#F2F2F2" stroke-width=".559" opacity=".4"><path d="M29.68 4.904c-.81-.91-1.963-1.412-3.246-1.412h-3.087v-1.73c0-.419-.331-.762-.736-.762H7.906c-.405 0-.736.343-.736.763V4.42H4.304c-.405 0-.736.344-.736.763 0 .42.331.763.736.763h3.609c.405 0 .736-.343.736-.763V2.526H21.88v11.959h-6.934c-.031 0-.062 0-.092.006-.369-.941-1.259-1.609-2.296-1.609-1.043 0-1.933.674-2.295 1.621a.684.684 0 0 0-.16-.019H8.65V11.82c0-.42-.331-.762-.736-.762H4.304c-.405 0-.736.343-.736.762 0 .42.331.763.736.763H7.17v2.658c0 .42.331.763.736.763H10.147C10.391 17.148 11.38 18 12.557 18c1.179 0 2.16-.852 2.412-1.996h8.825C24.047 17.142 25.03 18 26.207 18s2.16-.852 2.412-1.996h1.645c.405 0 .736-.344.736-.763V8.902c0-1.646-.46-3.032-1.32-3.998zM12.559 16.48c-.552 0-1-.465-1-1.037 0-.572.448-1.036 1-1.036.553 0 1 .464 1 1.036 0 .572-.447 1.037-1 1.037zm13.649 0c-.552 0-1-.465-1-1.037 0-.572.448-1.036 1-1.036s1 .464 1 1.036c-.006.572-.454 1.037-1 1.037zm3.32-1.997h-1.03c-.37-.934-1.259-1.602-2.29-1.602-1.031 0-1.92.661-2.29 1.602h-.564V5.018h3.087c1.933 0 3.087 1.456 3.087 3.89v5.576z"/><path d="M13.656 10.074a.803.803 0 0 0 0 1.097.721.721 0 0 0 .522.226c.19 0 .375-.078.522-.226l1.897-1.994.007-.006c.012-.02.03-.032.043-.052.006-.013.012-.02.018-.032a.113.113 0 0 1 .025-.032l.018-.04c.006-.012.012-.018.018-.031l.019-.04c.006-.012.012-.018.012-.031.006-.013.006-.026.012-.039.007-.013.007-.026.013-.032.006-.013.006-.026.006-.039 0-.013.006-.026.006-.039 0-.013.006-.026.006-.045 0-.013.006-.02.006-.032a.653.653 0 0 0 0-.155c0-.013 0-.02-.006-.032 0-.013-.006-.026-.006-.045 0-.013-.006-.026-.006-.04 0-.012-.006-.025-.006-.038-.006-.013-.006-.026-.013-.032-.006-.013-.006-.026-.012-.039-.006-.013-.012-.02-.012-.032l-.019-.039c-.006-.013-.012-.02-.018-.032l-.018-.039a.113.113 0 0 0-.025-.032c-.006-.013-.012-.02-.018-.032-.013-.02-.031-.033-.043-.052l-.007-.006-1.805-1.897a.713.713 0 0 0-1.044 0 .803.803 0 0 0 0 1.097l.547.574H1.737c-.405 0-.737.348-.737.774 0 .426.332.774.737.774h12.552l-.633.71z"/></g></svg>

        <div>
            <span class="u-color-black">Free shipping</span>&nbsp;in the UK
        </div>
    </li>
    <li class="c-feature-list__item u-flex u-align-items-center">
        <svg class="c-svg u-mr" width="25" height="18"viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg"><g fill="#000" fill-rule="nonzero" opacity=".4"><path d="M22.003 17H2.997C1.907 17 1 16.077 1 14.97V3.03C1 1.924 1.908 1 2.997 1h19.006C23.093 1 24 1.923 24 3.03v11.94c0 1.107-.908 2.03-1.997 2.03zM2.997 2.23a.808.808 0 0 0-.786.8v11.94c0 .43.363.8.786.8h19.006c.423 0 .786-.37.786-.8V3.03c0-.43-.363-.8-.786-.8H2.997z" stroke="#F2F2F2" stroke-width=".2"/><path d="M23.395 5.385H1.605c-.333 0-.333-1 0-1h21.79c.333 0 .333 1 0 1zM23.395 7.846H1.605c-.333 0-.333-1 0-1h21.79c.333 0 .333 1 0 1z"/></g></svg>

        <div>
            Pay by&nbsp;<span class="u-color-black">card or PayPal</span>
        </div>
    </li>
    <li class="c-feature-list__item u-flex u-align-items-center">
        <svg class="c-svg u-mr" width="22" height="22"viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><g fill="#221F20" fill-rule="evenodd" opacity=".4"><path d="M10.987 0C4.929 0 0 4.929 0 10.987c0 6.057 4.929 10.986 10.987 10.986 6.057 0 10.986-4.929 10.986-10.986C21.973 4.929 17.044 0 10.987 0zm0 20.875c-5.453 0-9.89-4.435-9.89-9.888s4.437-9.89 9.89-9.89 9.888 4.437 9.888 9.89-4.435 9.888-9.888 9.888z" fill-rule="nonzero"/><path d="M11.682 10.975l2.121 2.121a.5.5 0 0 1-.707.707l-2.121-2.121-2.121 2.121a.5.5 0 0 1-.708-.707l2.122-2.121-2.122-2.121a.5.5 0 1 1 .708-.708l2.12 2.122 2.122-2.122a.5.5 0 0 1 .707.708l-2.121 2.12z"/></g></svg>

        <div>
            <span class="u-color-black">Pause or cancel</span>&nbsp;any time
        </div>
    </li>
    <li class="c-feature-list__item u-flex u-align-items-center">
        <svg class="c-svg u-mr" width="23" height="15"viewBox="0 0 23 15" xmlns="http://www.w3.org/2000/svg"><path d="M.829 7.265C2.604 3.128 6.827.354 11.5.354c4.673 0 8.896 2.774 10.671 6.911l.101.235-.1.235c-1.776 4.137-6 6.911-10.672 6.911-4.673 0-8.896-2.774-10.671-6.911L.728 7.5l.1-.235zm10.671 6.19c4.108 0 7.828-2.386 9.472-5.955-1.644-3.57-5.364-5.955-9.472-5.955S3.672 3.93 2.028 7.5c1.644 3.57 5.364 5.955 9.472 5.955zm0-2.977a2.978 2.978 0 1 1 0-5.956 2.978 2.978 0 0 1 0 5.956zm0-1.034a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" fill="#221F20" fill-rule="nonzero" stroke="#F2F2F2" stroke-width=".1" opacity=".4"/></svg>

        <div>
            Carefully&nbsp;<span class="u-color-black">curated</span>
        </div>
    </li>
    <li class="c-feature-list__item u-flex u-align-items-center">
        <svg class="c-svg u-mr" width="15" height="25"viewBox="0 0 15 25" xmlns="http://www.w3.org/2000/svg"><path d="M6.91 20.577a14.922 14.922 0 0 1-2.755-1.995C2.19 16.78.999 14.66.999 12.234c0-.259.014-.52.042-.785.226-2.167 1.335-4.436 3.037-6.706a27.145 27.145 0 0 1 2.765-3.14c.126-.12.217-.206.268-.252L7.5 1l.388.351a24.111 24.111 0 0 1 .955.945 27.145 27.145 0 0 1 2.078 2.447c1.702 2.27 2.811 4.539 3.037 6.706.028.264.042.526.042.785 0 2.426-1.192 4.546-3.154 6.348a14.922 14.922 0 0 1-2.755 1.995V24H6.909v-3.423zm1.18-1.412a14.107 14.107 0 0 0 1.973-1.5c1.731-1.592 2.755-3.412 2.755-5.43a6.3 6.3 0 0 0-.035-.655c-.197-1.896-1.215-3.977-2.795-6.084A25.944 25.944 0 0 0 7.5 2.646a25.944 25.944 0 0 0-2.488 2.85c-1.58 2.107-2.598 4.188-2.795 6.084a6.3 6.3 0 0 0-.035.654c0 2.019 1.024 3.839 2.755 5.43a13.75 13.75 0 0 0 1.972 1.5V9.583h1.182v9.583z" fill="#000" fill-rule="nonzero" stroke="#F2F2F2" stroke-width=".2" opacity=".4"/></svg>

        <div>
            <span class="u-color-black">Sustainable</span>&nbsp;and&nbsp;<span class="u-color-black">ethical</span>
        </div>
    </li>
    <li class="c-feature-list__item u-flex u-align-items-center">
        <svg class="c-svg u-mr" width="22" height="22"viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><g fill="#221F20" fill-rule="nonzero" opacity=".4"><path d="M10.722 13.434a.5.5 0 0 1 .465 0l2.072 1.09-.396-2.308a.5.5 0 0 1 .144-.443l1.677-1.634-2.317-.336a.5.5 0 0 1-.377-.274l-1.036-2.1-1.036 2.1a.5.5 0 0 1-.376.274l-2.317.336 1.676 1.634a.5.5 0 0 1 .144.443l-.395 2.307 2.072-1.09zM8.218 15.88a.5.5 0 0 1-.725-.527l.522-3.047-2.213-2.158a.5.5 0 0 1 .277-.853l3.059-.444 1.368-2.772a.5.5 0 0 1 .897 0L12.77 8.85l3.059.444a.5.5 0 0 1 .277.853l-2.214 2.158.523 3.047a.5.5 0 0 1-.725.527l-2.737-1.439-2.736 1.439z"/><path d="M10.987 0C4.929 0 0 4.929 0 10.987c0 6.057 4.929 10.986 10.987 10.986 6.057 0 10.986-4.929 10.986-10.986C21.973 4.929 17.044 0 10.987 0zm0 20.875c-5.453 0-9.89-4.435-9.89-9.888s4.437-9.89 9.89-9.89 9.888 4.437 9.888 9.89-4.435 9.888-9.888 9.888z"/></g></svg>

        <div>
            <span class="u-color-black">Exclusive</span>&nbsp;offers
        </div>
    </li>
</ul>
