<div class="c-feature-list-bar {% if is_block %}c-feature-list-bar--block{% endif %}">
    <div class="o-layout u-flex@mobile u-align-items-center">
        <div class="o-layout__item {% if is_block %}u-3/12@mobile{% else %}u-4/12@mobile u-show@tablet{% endif %} u-text-align-center">
            {% include 'box-price-and-rating' %}
        </div><div class="o-layout__item u-1/12@mobile">
        </div><div class="o-layout__item {% if is_block %}u-8/12@mobile{% else %}u-7/12@tablet{% endif %} u-pt u-pt0@mobile">
            {%- if is_block -%}
                {%- assign feature_layout = 'bar' -%}
            {%- endif -%}
            {% include 'subscription-features' %}
        </div>
    </div>
</div>
