<div class="o-layout o-layout--small c-image-block-gallery {% if is_tall == true %}c-image-block-gallery--tall{% endif %}">
    <div class="o-layout__item u-6/12 u-7/12@mobile u-overflow-hidden">
        <div id="{{ id }}-1" class="c-image-block" style="background-image: url('{{ image_1 | img_url: 'x600' }}');">
            {%- if description_1 != blank -%}
                <div class="c-image-block__description">
                    {%- if description_1 contains 'instagram' -%}
                        {%- assign classes = 'c-svg c-svg--w15 c-svg--white u-mr--' -%}
                        {% include 'instagram-icon' %}
                    {%- endif -%}
                    {{ description_1 }}
                </div>
            {%- endif -%}
        </div>
    </div><div class="o-layout__item u-6/12 u-5/12@mobile u-overflow-hidden">
        <div id="{{ id }}-2" class="c-image-block" style="background-image: url('{{ image_2 | img_url: '400x' }}');">
            {%- if description_2 != blank -%}
                <div class="c-image-block__description">
                    {%- if description_2 contains 'instagram' -%}
                        {%- assign classes = 'c-svg c-svg--w15 c-svg--white u-mr--' -%}
                        {% include 'instagram-icon' %}
                    {%- endif -%}
                    {{ description_2 }}
                </div>
            {%- endif -%}
        </div>
        <div id="{{ id }}-3" class="c-image-block" style="background-image: url('{{ image_3 | img_url: '400x' }}');">
            {%- if description_3 != blank -%}
                <div class="c-image-block__description">
                    {%- if description_3 contains 'instagram' -%}
                        {%- assign classes = 'c-svg c-svg--w15 c-svg--white u-mr--' -%}
                        {% include 'instagram-icon' %}
                    {%- endif -%}
                    {{ description_3 }}
                </div>
            {%- endif -%}
        </div>
    </div>
</div>

<style>
@media (min-width: 64.0525em) {
    #{{ id }}-1 { background-image: url('{{ image_1 | img_url: 'x1400' }}') !important; }
    #{{ id }}-2 { background-image: url('{{ image_2 | img_url: '1000x' }}') !important; }
    #{{ id }}-3 { background-image: url('{{ image_3 | img_url: '1000x' }}') !important; }
}
</style>
