html {
    background-color: $color-main-background;
    color: $global-font-color;
    font-family: $global-font-family-body;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    transition: background ($global-transition-speed * 2) $global-transition-easing;
}

body::before {
    content: 'mobile';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 0;
}

main {
    transition: $global-transition;
    will-change: transition;
}

@each $breakpoint-name, $breakpoint-size in $mq-breakpoints {
    @include mq($from: $breakpoint-name) {
        body::before {
            content: '#{$breakpoint-name}';
        }
    }
}

@include mq($until: mobile) {
    html {
        font-size: 0.9rem;
    }
}

@keyframes fadeInPage {
    to {
        opacity: 1;
    }
}
