.s-form {
    .errors {
        color: $color-red;
        font-weight: 600;

        ul {
            list-style: none;
            margin-bottom: $global-spacing;
            text-align: center;
        }
    }
}
