$section-responsive-spacing: 5vmin;
$section-responsive-spacing--small: 3vmin;

.o-section {
    @include rem(padding-bottom, $global-spacing-large);
    @include rem(padding-top, $global-spacing-large);
    padding-bottom: calc(#{$global-spacing} + #{$section-responsive-spacing--small});
    padding-top: calc(#{$global-spacing} + #{$section-responsive-spacing--small});
}

.o-section:not([class*='t-']) + .o-section:not([class*='t-']) {
    padding-top: 0;
}

@include mq($from: mobile) {
    .o-section {
        padding-bottom: calc(#{$global-spacing} + #{$section-responsive-spacing});
        padding-top: calc(#{$global-spacing} + #{$section-responsive-spacing});
    }
}
