.o-wrapper {
    padding-left: $global-spacing-large;
    padding-right: $global-spacing-large;
    width: 100%;
}

.o-wrapper--small {
    max-width: 600px;
}

.o-wrapper--medium {
    max-width: 950px;
}

.o-wrapper--large {
    max-width: 1050px;
}

.o-wrapper--huge {
    max-width: 1500px;
}

@include mq($from: $inuit-wrapper-width + 100) {
    .o-wrapper--padded {
        padding-left: 100px;
        padding-right: 100px;
        max-width: $inuit-wrapper-width + 100;
    }
}

@include mq($from: tablet) {
    .o-wrapper--article {
        margin-left: auto;
        margin-right: auto;
        max-width: $global-editorial-wrapper-max-width;
    }
}

@include mq($until: tablet) {
    .o-wrapper,
    .o-wrapper--small {
        padding-left: $global-spacing;
        padding-right: $global-spacing;
    }
}
