{%- assign USER_SUBSCRIPTION_STATUS = 'none' -%}
{%- if customer -%}
    {%- if customer.tags contains 'Active Subscriber' -%}
        {%- assign USER_SUBSCRIPTION_STATUS = 'active' -%}
    {%- elsif customer and customer.tags contains 'Inactive Subscriber' -%}
        {%- assign USER_SUBSCRIPTION_STATUS = 'inactive' -%}
    {%- endif -%}
{%- endif -%}

<div id="account-container">
    Fetching your details...
</div>

<script>
window.globalData.customerId = '{{ customer.id }}';
window.globalData.rechargeAPIKey = '{{ settings.recharge_api_key }}';
window.globalData.apiURL = '{{ settings.barkism_api_url }}';
window.globalData.accountContent = {
    subscriptionStatus: '{{ USER_SUBSCRIPTION_STATUS }}',
    subscriptionManagementURL: {%- if customer.metafields.subscriptions.customer_string != blank -%}'{{ shop.url }}/tools/recurring/customer/{{ customer.metafields.subscriptions.customer_string }}/subscriptions/'{%- else -%}null{%- endif -%},
    dogInformation: {
        {%- if customer.metafields.dogdetails.name -%}
            name: '{{ customer.metafields.dogdetails.name }}',
        {%- endif -%}
        {%- if customer.metafields.dogdetails.breed -%}
            breed: '{{ customer.metafields.dogdetails.breed }}',
        {%- endif -%}
        {%- if customer.metafields.dogdetails.birthday -%}
            birthday: '{{ customer.metafields.dogdetails.birthday }}',
        {%- endif -%}
        {%- if customer.metafields.dogdetails.instagram -%}
            instagram: '{{ customer.metafields.dogdetails.instagram }}',
        {%- endif -%}
        {%- if customer.metafields.dogdetails.fussiness -%}
            fussiness: '{{ customer.metafields.dogdetails.fussiness }}',
        {%- endif -%}
        {%- if customer.metafields.dogdetails.toy_destroy -%}
            toy_destroy: '{{ customer.metafields.dogdetails.toy_destroy }}',
        {%- endif -%}
    }
};
</script>
