<div class="u-max-w-600 u-m-auto">
    <div class="t-white u-shadow u-p u-p+@mobile">
        <h1 class="u-heading u-h2 u-block u-text-align-center u-mb u-mb+@mobile">
            {{ 'customer.activate_account.title' | t }}
        </h1>

        <p class="u-mb">{{ 'customer.activate_account.subtext' | t }}</p>
        
        {% form 'activate_customer_password' %}
            {%- if form.errors -%}
                <div class="s-form">
                    {{ form.errors | default_errors }}
                </div>
            {%- endif -%}
            
            <div class="c-form__field">
                <input type="password" name="customer[password]" id="CustomerPassword" class="c-form__input u-1/1 {% if form.errors contains 'password' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.activate_account.password' | t }}">
            </div>

            <div class="c-form__field">
                <input type="password" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="c-form__input u-1/1 {% if form.errors contains 'password_confirmation' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
            </div>

            <button type="submit" class="c-button c-button--primary c-button--wide u-mt">
                {{ 'customer.activate_account.submit' | t }}
            </button>
        {% endform %}
    </div>
</div>
