{%- if customer.metafields.subscriptions.customer_string -%}
    <p>Please edit your addresses via the subscription management page.</p>

    <a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/" class="u-pv- u-m0 u-display-block u-label u-color-primary">Manage your subscription</a>
{%- endif -%}
