<div class="u-max-w-600 u-m-auto">
    <div class="js-login-container">
        {% include 'login-form-box' %}

        <div class="u-mt u-ph u-text-align-center">
            <em>Don't have an account? <a href="/account/register"><strong>Create one here</strong></a></em>
        </div>
    </div>

    <div id="recover" aria-labelledby="recover-toggle" aria-hidden="true" role="tabpanel" style="display: none;">
        {% include 'password-reset-box' %}
    </div>
</div>
