<div class="u-max-w-600 u-m-auto">
    <div class="t-white u-shadow u-p u-p+@mobile">
        <h1 class="u-heading u-h2 u-block u-text-align-center u-mb u-mb+@mobile">
            {{ 'customer.register.title' | t }}
        </h1>
        
        {% form 'create_customer' %}
            {%- if form.errors -%}
                <div class="s-form">
                    {{ form.errors | default_errors }}
                </div>
            {%- endif -%}
            
            <div class="c-form__field">
                <div class="u-flex@mobile">
                    <input type="text" name="customer[first_name]" id="FirstName" class="c-form__input u-1/1 {% if form.errors contains 'first_name' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
                    <input type="text" name="customer[last_name]" id="LastName" class="c-form__input u-1/1 u-mt- u-ml-@mobile u-mt0@mobile {% if form.errors contains 'last_name' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
                </div>
            </div>
            <div class="c-form__field">
                <input type="email" name="customer[email]" id="Email" class="c-form__input u-1/1 {% if form.errors contains 'email' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" value="{% if form.email %}{{ form.email }}{% endif %}" spellcheck="false" autocomplete="off" autocapitalize="off">
            </div>
            <div class="c-form__field">
                <input type="password" name="customer[password]" id="CreatePassword" class="c-form__input u-1/1 {% if form.errors contains 'password' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
            </div>

            <p class="u-mt u-font-size-14 u-leading-14 u-color-grey-dark">{{ settings.register_consent_checkbox_label }}</p>

            <button type="submit" class="c-button c-button--primary c-button--wide u-mt">
                {{ 'customer.register.submit' | t }}
            </button>
        {% endform %}
    </div>
</div>
