<div class="u-max-w-600 u-m-auto">
    <div class="t-white u-shadow u-p u-p+@mobile">
        <h1 class="u-heading u-h2 u-block u-text-align-center u-mb u-mb+@mobile">{{ 'customer.reset_password.title' | t }}</h1>

        <p class="u-mb">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {% form 'reset_customer_password' %}
            {%- if form.errors -%}
                <div class="s-form">
                    {{ form.errors | default_errors }}
                </div>
            {%- endif -%}

            <div class="c-form__field">
                <input type="password" name="customer[password]" id="ResetPassword" class="c-form__input u-1/1 {% if form.errors contains 'password' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
            </div>
            <div class="c-form__field">
                <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation" class="c-form__input u-1/1 {% if form.errors contains 'password_confirmation' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
            </div>
            
            <button type="submit" class="c-button c-button--primary u-1/1 u-mt">
                {{ 'customer.login.sign_in' | t }}
            </button>
        {% endform %}
    </div>
</div>
