$text-colors: (
    'primary': $color-primary,
    'black': $color-black,
    'grey': $color-grey,
    'grey-dark': $color-grey-dark,
    'bright-sun': $color-bright-sun,
    'red': $color-red
);

@each $text-color-name, $text-color-color in $text-colors {
    .u-color-#{$text-color-name} {
        color: $text-color-color !important;
    }
}

$background-colors: (
    'secondary': $color-secondary
);

@each $background-color-name, $background-color-color in $background-colors {
    .u-background-#{$background-color-name} {
        background-color: $background-color-color !important;
    }
}
