$helper-font-sizes: 11 12 14 16;
// $helper-font-weights: 300 600;
$helper-line-heights: 14 30;
$helper-text-aligns: center right;

@each $helper-font-size in $helper-font-sizes {
    .u-font-size-#{$helper-font-size} {
        font-size: #{$helper-font-size}px !important;
    }
}

@each $helper-text-align in $helper-text-aligns {
    .u-text-align-#{$helper-text-align} {
        text-align: #{$helper-text-align} !important;
    }
}

@each $helper-line-height in $helper-line-heights {
    .u-line-height-#{$helper-line-height} {
        line-height: #{$helper-line-height}px !important;
    }
}

// @each $helper-font-weight in $helper-font-weights {
//     .u-font-weight-#{$helper-font-weight} {
//         font-weight: $helper-font-weight !important;
//     }
// }

.u-line-height-2 {
    line-height: 2;
}

.u-font-weight-300 {
    font-family: $global-font-family-body;
}

.u-font-weight-600 {
    font-family: $global-font-family-bold;
}

.u-heading {
    @include heading();
}

.u-underline {
    text-decoration: underline !important;
}

.u-case-initial {
    text-transform: initial !important;
}

.u-case-upper {
    text-transform: uppercase !important;
}

.u-label {
    font-family: $global-font-family-bold;
    font-size: 12px;
    text-transform: uppercase;
}

.u-highlight {
    background-color: lighten($color-bright-sun, 30%);
}

@include mq($from: mobile) {
    .u-text-align-left\@mobile {
        text-align: left;
    }

    .u-text-align-right\@mobile {
        text-align: right;
    }

    .u-text-align-center\@mobile {
        text-align: center;
    }
}
@include mq($from: mobileSmall) {
    .u-cols-2\@mobileSmall {
        columns: 2;
    }
}
