$helper-displays: block;
$helper-floats: right;

@each $helper-display in $helper-displays {
    .u-display-#{$helper-display} {
        display: #{$helper-display} !important;
    }
}

@each $helper-float in $helper-floats {
    .u-float-#{$helper-float} {
        float: #{$helper-float} !important;
    }
}

.s-no-js .u-js-anim {
    animation: fadeInAnimationFallback 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0 !important;
}

@keyframes fadeInAnimationFallback {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.s-js .u-hide-js {
    display: none;
}

.u-d-none.u-d-none {
    display: none !important;
}

.u-m-auto {
    margin: auto;
}

.u-ml-auto {
    margin-left: auto;
}

.u-max-h-300 {
    max-height: 300px;
}

.u-max-h-400 {
    max-height: 400px;
}

.u-max-h-500 {
    max-height: 500px;
}

.u-min-h-800 {
    min-height: 800px;
}

.u-max-w-100 {
    max-width: 100%;
}

.u-max-w-350 {
    max-width: 350px;
}

.u-max-w-450 {
    max-width: 450px;
}

.u-max-w-600 {
    max-width: 600px;
}

.u-relative {
    position: relative;
}

.u-o-7 {
    opacity: 0.7;
}

.u-shadow {
    box-shadow: $global-shadow;
}

.u-shadow-active {
    box-shadow: $global-shadow-active;
}

.u-overflow-hidden {
    overflow: hidden;
}

@include mq($from: tablet) {
    .u-depth {
        transition: $global-transition;
        will-change: transform;
    }
    .u-depth:hover,
    .u-depth:active {
        box-shadow: $global-shadow-active;
        transform: translateY(-2px);
    }
}

.u-border-1 {
    border: 1px solid $color-grey-light;
}
.u-border-left-1 {
    border-left: 1px solid $color-grey-light;
}
.u-border-top-1 {
    border-top: 1px solid $color-grey-light;
}

.u-fade-intersected {
    opacity: 0;
    transition: $global-transition 0s, opacity 0.6s $global-transition-easing-cubic,
        transform 0.6s $global-transition-easing-cubic;
    transform: translateY($global-spacing-tiny);
    will-change: opacity;
}
.u-fade-intersected:not(.u-in-viewport) {
    background-image: none !important;
}
.u-fade-intersected.u-in-viewport {
    opacity: 1;
    transform: translateY(0);
}

.no-js .u-fade-intersected {
    opacity: 1;
}

.u-fade-in {
    animation: fadeIn $global-transition-speed $global-transition-easing;
    animation-fill-mode: forwards;
    opacity: 0;
    transition-delay: $global-transition-speed;
}

.u-pointer {
    cursor: pointer;
}

.u-ml-inherit {
    margin-left: inherit;
}

.u--mt- {
    margin-top: ($global-spacing-small * -1);
}

.u-bg-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.u-radius-small {
    border-radius: $global-radius--small;
}

.u-hide-body main,
.u-hide-body .c-site-footer {
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.u-subscription-product-image {
    margin-left: -10vmin;
    margin-top: -20vmin;
}

@include mq($until: mobile) {
    .u-illustration {
        max-height: 200px;
        width: auto;
    }
}

.u-notification-icon::before {
    animation: seekAttention 3s;
    animation-fill-mode: forwards;
    color: $color-primary;
    content: '●';
}

@keyframes seekAttention {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
