$accordion-background-color: $color-white;
$accordion-background-color--active: lighten($color-pampas, 3%);
$accordion-border-color: $color-grey-light;
$accordion-toggle-icon-size: 20px;

.c-accordion {
    background-color: $accordion-background-color;
    border: 1px solid $accordion-border-color;
    overflow: hidden;
    transition: background-color $global-transition-speed $global-transition-easing;
}
.c-accordion:not(:hover) {
    background-color: $color-white;
}

.c-accordion__toggle {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    font-family: $global-font-family-bold;
    font-size: medium;
    padding-left: 0;
    padding-right: $global-spacing;
    outline: none;
    transition: $global-transition;
    width: 100%;
}
.c-accordion__toggle:hover,
.c-accordion__toggle:active,
.c-accordion__toggle[aria-expanded='true'] {
    background-color: $accordion-background-color--active;
}

.c-accordion__toggle-icon {
    flex: 0 0 $accordion-toggle-icon-size;
    height: $accordion-toggle-icon-size;
    margin-top: 2px;
    transition: transform $global-transition-speed $global-transition-easing;
    width: $accordion-toggle-icon-size;
    will-change: transform;
}

.c-accordion__toggle[aria-expanded='true'] .c-accordion__toggle-icon {
    transform: rotate(135deg);
}

.c-accordion__content {
    background-color: $accordion-background-color--active;
    color: $accordion-background-color--active;
    display: none;
    opacity: 1 !important;
    transition: color ($global-transition-speed * 2) $global-transition-easing,
        opacity ($global-transition-speed * 3), transform ($global-transition-speed * 3);
    transform: none !important;
}
.c-accordion__content[aria-hidden='false'] {
    color: $global-font-color;
}

@include mq($from: mobile) {
    .c-accordion__toggle {
        font-size: $inuit-font-size-h5;
    }
}
