@mixin animated-content {
    animation: animateContentEntrance 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: $global-transition-easing-cubic;
    opacity: 0;
    transform: translateY(#{$global-spacing});
    will-change: transform;
}

.c-animated-item {
    @include animated-content();
}

.c-animated-content {
    [data-order] {
        @include animated-content();
    }

    @for $order from 2 through 10 {
        [data-order='#{$order}'] {
            animation-delay: 0.15s * $order;
        }
    }
}

@keyframes animateContentEntrance {
    from {
        opacity: 0;
        transform: translateY(#{$global-spacing});
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
