.c-box-intro {
    text-align: center;
}

.c-box-intro__image {
    height: 200px;
    margin-bottom: $global-spacing;
    margin-top: $global-spacing-large * -1;
    position: relative;
}
.c-box-intro__image * {
    fill: $color-primary;
}
.c-box-intro__image-door {
    animation: boxIntroDoorEntrance 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: $global-transition-easing-cubic;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    will-change: opacity;
}
.c-box-intro__image-dog {
    animation: boxIntroDogEntrance 1s;
    animation-fill-mode: forwards;
    animation-timing-function: $global-transition-easing-cubic;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    will-change: opacity;
}

@keyframes boxIntroDoorEntrance {
    from {
        opacity: 0;
        transform: scale(1.05);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes boxIntroDogEntrance {
    from {
        opacity: 0;
        transform: scale(1.05) translateY(6px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.c-box-intro__heading {
    margin-bottom: $global-spacing;
    padding-right: $global-spacing;
}

@include mq($from: mobile) {
    .c-box-intro {
        display: flex;
        text-align: left;
    }

    .c-box-intro__image {
        height: 60vh;
        margin-top: 0;
        max-height: 550px;
        padding-left: $global-spacing;
    }
    .c-box-intro__image-door {
        animation-delay: 0.1s;
    }

    .c-box-intro__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@include mq($from: tabletSmall) {
    .c-box-intro__heading {
        padding-left: 0;
        padding-right: $global-spacing-large;
    }

    .c-box-intro__content {
        padding-right: $global-spacing;
    }
}

@include mq($from: tablet) {
    .c-box-intro__image {
        height: 60vh;
        max-height: 750px;
    }
}   
