.c-box-signup-illustrations {
    position: relative;
}

.c-box-signup-illustrations__price {
    background-color: $color-white;
    border-radius: 6px;
    box-shadow: 0 5px 34px 0 rgba(0, 0, 0, 0.1);
    display: none;
    left: -10vmin;
    padding: 40px $global-spacing;
    position: absolute;
    text-align: center;
    top: 12vmin;
}

.c-box-signup-illustrations__box {
    float: left;
    margin-left: -20vmin;
    margin-top: -20vmin;
    width: 100%;
}

.c-box-signup-illustrations__illustration {
    float: right;
    margin-right: 0;
    width: 70%;
}

@include mq($from: mobile) {
    .c-box-signup-illustrations {
        margin-left: 10vmin;
    }

    .c-box-signup-illustrations__box {
        margin-left: -15vmin;
        margin-top: -10vmin;
        width: 120%;
    }
}
