$button-icon-size: 18px;
$button-icon-size--tiny: 16px;

/**
 * 1. Never allow buttons to be full-width in a flex layout
 * 2. Force all button-styled elements to appear clickable.
 * 3. Allow us to style box model properties.
 * 4. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 5. Reset/normalize some styles.
 * 6. Line different sized buttons up a little nicer.
 * 7. Regardless of height align text in the center
 */
.c-button {
    @include rem(padding, 12px 24px);
    align-self: flex-start;
    border: 1px solid;
    border-radius: $global-radius;
    cursor: pointer; /* [2] */
    display: inline-block; /* [3] */
    font: inherit; /* [4] */
    font-family: $global-font-family-bold;
    line-height: 1.1;
    outline: none;
    text-align: center; /* [6] */
    transition: $global-transition;
    vertical-align: middle; /* [7] */
}

/* Themes
   ====================================== */

/**
 * Theme is defined by background colour, text colour, and optional ghost themes
 */
$button-themes: (
    'primary': (
        $color-primary,
        $color-white,
        true
    ),
    'white': (
        $color-white,
        $color-black,
        true
    ),
    'grey-light': (
        $color-grey-light,
        $color-black,
        true
    )
);

@each $button-theme-name, $button-theme-colors in $button-themes {
    .c-button--#{$button-theme-name} {
        background-color: nth($button-theme-colors, 1);
        border-color: nth($button-theme-colors, 1);
        color: nth($button-theme-colors, 2);
        position: relative;
    }
    .c-button--#{$button-theme-name}:hover,
    .c-button--#{$button-theme-name}:focus {
        background-color: darken(nth($button-theme-colors, 1), 5%);
        border-color: darken(nth($button-theme-colors, 1), 5%);
    }

    .c-button__text {
        position: relative;
        z-index: 1;
    }

    @if nth($button-theme-colors, 3) == true {
        .c-button--#{$button-theme-name}.c-button--ghost {
            background-color: transparent;
            border: 1px solid nth($button-theme-colors, 1);
            color: nth($button-theme-colors, 1);

            &:hover,
            &:focus {
                background-color: nth($button-theme-colors, 1);
                color: nth($button-theme-colors, 2);
            }
        }
    }
}

.c-button--primary:hover,
.c-button--primary:active {
    background-color: $color-bright-sun !important;
    border: 1px solid $color-bright-sun !important;
    color: $color-primary !important;

    .c-svg * {
        fill: $color-primary;
    }
}

/* Variants
   ====================================== */

.c-button--round {
    @include rem(border-radius, $global-radius);
}

.c-button--wide {
    @include rem(padding-left, 54px);
    @include rem(padding-right, 54px);
}

.c-button--round-small {
    @include rem(border-radius, $global-radius--small);
}

.c-button--naked {
    background-color: transparent;
    border: 0;
}

.c-button--tiny {
    padding: 8px 20px;
}

.c-button--shadow {
    box-shadow: $global-shadow;
}
.c-button--shadow:hover,
.c-button--shadow:focus {
    box-shadow: $global-shadow-active;
}

.c-button--icon {
    @include rem(padding-left, 24px + $button-icon-size);
    position: relative;

    .c-svg {
        height: $button-icon-size;
        margin-left: ($button-icon-size + $global-spacing-small) * -1;
        margin-top: (($button-icon-size / 2) + 1) * -1;
        position: absolute;
        top: 50%;
        width: $button-icon-size;
        will-change: transform;
    }
    .c-svg * {
        fill: currentColor;
        transition: $global-transition;
    }
}

.c-button--tiny.c-button--icon {
    @include rem(padding-left, 6px + $button-icon-size);

    .c-svg {
        height: $button-icon-size--tiny;
        margin-left: ($button-icon-size--tiny + 8px) * -1;
        margin-top: (($button-icon-size--tiny / 2) + 2) * -1;
        width: $button-icon-size--tiny;
    }
}

// .c-button--disabled,
// .c-button--disabled:hover,
// .c-button--disabled:focus {
//     background-color: rgba($color-black, 0.025);
//     border-color: transparent;
//     color: rgba($color-black, 0.4);
//     pointer-events: none;
// }

.c-button--danger:hover,
.c-button--danger:active {
    background-color: $color-red !important;
    border-color: $color-red !important;
    color: $color-white !important;
}

.c-button--radio:hover,
.c-button--radio:active {
    background-color: $color-white;
}

.c-button--selected,
.c-button--selected:hover,
.c-button--selected:focus {
    background-color: $color-white;
    border-width: 2px;
    border-color: $color-bright-sun !important;
    box-shadow: $global-shadow;
    color: $color-primary;
    pointer-events: none;
    position: relative;
}

.c-button__selected-icon {
    background-color: $color-bright-sun;
    height: $global-spacing;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(#{$global-spacing * -1}) translateY(#{$global-spacing * -1});
    transition: $global-transition;
    width: $global-spacing;

    svg {
        height: $global-spacing-small;
        width: $global-spacing-small;
    }
}
.c-button__selected-icon--active {
    transform: translateX(0) translateY(0);
}
