$button-list-height--tall: 120px;
$button-list-height--tall--small: 100px;

.c-button-list,
.c-button-list\@mobile {
    display: flex;

    .c-button {
        flex-grow: 1;
        height: 100%;
    }
    .c-button + .c-button {
        margin-left: $global-spacing;
    }
}

.c-button-list--tall {
    height: $button-list-height--tall;
}

.c-button-list--flush {
    .c-button {
        border-radius: 0;
        margin-left: 0 !important;
    }
    .c-button:nth-child(n + 1) {
        margin-left: -1px;
    }
    .c-button:first-of-type {
        border-bottom-left-radius: $global-radius--small;
        border-top-left-radius: $global-radius--small;
    }
    .c-button:last-of-type {
        border-bottom-right-radius: $global-radius--small;
        border-top-right-radius: $global-radius--small;
    }
}

.c-button-list--small {
    .c-button {
        font-size: $inuit-global-font-size !important;
        padding: $global-spacing-small !important;
    }
}

@include mq($until: mobile) {
    .c-button-list {
        justify-content: center;

        .c-button {
            flex-grow: 0;
            padding-left: $global-spacing;
            padding-right: $global-spacing;
        }

        /**
         * TODO: Remove magic number...
         */
        .c-button--icon {
            padding-left: 58px;
        }

        .c-button + .c-button {
            margin-left: $global-spacing-small;
        }
    }

    .c-button-list\@mobile {
        display: block;

        .c-button {
            margin-left: 0 !important;
            width: 100%;
        }

        .c-button:nth-child(n + 2) {
            margin-top: $global-spacing-small;
        }
    }

    .c-button-list--tall {
        height: $button-list-height--tall--small;
    }
}
