.c-dog-bubbles {
    position: relative;
}

.c-dog-bubbles__copy {
    position: relative;
    z-index: 2;
}

.c-dog-bubbles__canvas {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 1000px;
    z-index: 1;
}

.c-dog-bubbles__bubble {
    background-color: $color-pampas;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    border: 4px solid $color-white;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all $global-transition-speed $global-transition-easing-cubic;
    will-change: transform;
}
.c-dog-bubbles__bubble:hover,
.c-dog-bubbles__bubble:active {
    transform: rotate(5deg) scale(1.05);
}
.c-dog-bubbles__bubble:nth-child(1) {
    height: 70px;
    left: 0;
    top: 40%;
    width: 70px;
}
.c-dog-bubbles__bubble:nth-child(2) {
    height: 110px;
    left: 15%;
    top: 15%;
    width: 110px;
}
.c-dog-bubbles__bubble:nth-child(3) {
    height: 150px;
    left: 15%;
    top: 60%;
    width: 150px;
}
.c-dog-bubbles__bubble:nth-child(4) {
    height: 90px;
    left: 70%;
    top: 65%;
    width: 90px;
}
.c-dog-bubbles__bubble:nth-child(5) {
    height: 150px;
    left: 80%;
    top: 20%;
    width: 150px;
}
.c-dog-bubbles__bubble:nth-child(6) {
    height: 60px;
    left: 100%;
    top: 60%;
    width: 60px;
}

@include mq($until: mobile) {
    .c-dog-bubbles {
        height: 360px;
    }

    .c-dog-bubbles__canvas {
        width: 130%;
    }

    .c-dog-bubbles__bubble:nth-child(1) {
        left: 5%;
        top: 55%;
    }
    .c-dog-bubbles__bubble:nth-child(2) {
        top: -3%;
    }
    .c-dog-bubbles__bubble:nth-child(3) {
        left: 18%;
        top: 68%;
    }
    .c-dog-bubbles__bubble:nth-child(4) {
        left: 75%;
        top: 65%;
    }
    .c-dog-bubbles__bubble:nth-child(5) {
        left: 85%;
        top: 10%;
    }
}

@include mq($until: mobileSmall) {
    .c-dog-bubbles {
        height: 410px;
    }

    .c-dog-bubbles__bubble:nth-child(1) {
        left: 10%;
        top: 75%;
    }
    .c-dog-bubbles__bubble:nth-child(2) {
        display: none;
    }
    .c-dog-bubbles__bubble:nth-child(3) {
        display: block;
        left: 33%;
        top: 72%;
    }
    .c-dog-bubbles__bubble:nth-child(4) {
        left: auto;
        right: 10%;
        top: 65%;
    }
    .c-dog-bubbles__bubble:nth-child(5) {
        display: none;
    }
}
