.c-feature-list {
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-feature-list__item + .c-feature-list__item {
    margin-top: $global-spacing-tiny;
}

.c-feature-list-bar--block {
    background-color: $color-white;
    padding: $global-spacing;

    .c-feature-list__item + .c-feature-list__item {
        margin-top: $global-spacing-small;
    }
}

@include mq($from: mobile) {
    .c-feature-list--columns {
        column-count: 2;
    }

    .c-feature-list-bar {
        position: relative;
    }
    .c-feature-list-bar--block {
        padding-bottom: $global-spacing-large;
        padding-right: $global-spacing-large;
        padding-top: $global-spacing-large;
    }
    .c-feature-list-bar::after {
        border-left: 1px solid $color-grey-light;
        content: '';
        height: 60%;
        left: 34%;
        position: absolute;
        top: 20%;
        width: 1px;
    }
    .c-feature-list-bar--block::after {
        left: 26%;
    }
}

@include mq($until: tablet) {
    .c-feature-list-bar:not(.c-feature-list-bar--block)::after {
        display: none;
    }
}

@media (max-height: 900px) {
    .s-product .c-feature-list__item:nth-child(n + 5) {
        display: none !important;
    }
}
