.c-feedback {
    @include rem(padding, $global-spacing-tiny);
    border-radius: $global-radius--small;
}

.c-feedback__label {
    font-family: $global-font-family-bold;
}

//

.c-feedback--notice {
    background-color: rgba($color-primary, 0.1);
    color: $color-primary;
}

.c-feedback--success {
    background-color: rgba($color-primary, 0.1);
    color: $color-primary;
}

.c-feedback--error {
    background-color: rgba($color-red, 0.1);
    color: $color-red;
}
