$hero-banner-max-width: 470px;
$hero-banner-min-height: 240px;
$hero-banner-min-height--large: 450px;
$hero-banner-min-height--huge: 550px;
$hero-banner-min-height--tall: 450px;
$hero-banner-min-height--tall--large: 650px;
$hero-banner-navigation-spacing: 70px;
$hero-banner-text-color: $color-white;

/**
 * 1. Contain the background image
 */
.c-hero-banner {
    position: relative; /* [2] */
    padding-bottom: 240px;
    overflow: hidden;
}

.c-hero-banner__image {
    animation: heroBannerImageEntrance 1.5s;
    animation-fill-mode: forwards;
    background-color: $global-image-placeholder-color;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $hero-banner-min-height;
    min-height: $hero-banner-min-height;
    overflow: hidden;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    will-change: transform;
    z-index: 0;
}

@keyframes heroBannerImageEntrance {
    from {
        opacity: 0;
        transform: scale(1.05);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/**
 * 1. Align items vertically in the center
 * 2. Allow the content to wrap on new lines
 * 5. Layer the content above the background image
 */
.c-hero-banner__wrapper {
    @include rem(padding-bottom, $global-spacing);
    @include rem(padding-top, $global-spacing);
    color: $hero-banner-text-color;
    max-width: $hero-banner-max-width;
    position: relative;
    z-index: 1;
}

@include mq($from: mobile) {
    /**
     * 1. Align the banner's content vertically in the center
     */
    .c-hero-banner {
        align-items: center; /* [1] */
        display: flex;
        min-height: $hero-banner-min-height--large;
        padding-bottom: 0;
    }

    .c-hero-banner__image {
        background-position: center center;
    }

    /**
     * 1. Set a minimum width for the banner content
     */
    .c-hero-banner__wrapper {
        @include rem(padding-bottom, $global-spacing-huge);
        @include rem(padding-top, $hero-banner-navigation-spacing);
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
    }

    .c-hero-banner--buttons-light {
        .c-button--primary {
            background-color: $color-white !important;
            border-color: $color-white !important;
            color: $color-primary !important;
        }
        .c-button--primary:hover,
        .c-button--primary:active {
            background-color: $color-bright-sun !important;
            border-color: $color-bright-sun !important;
        }

        * {
            fill: $color-primary;
        }
    }
}

//

@include mq($from: desktop-large) {
    .c-hero-banner {
        min-height: $hero-banner-min-height--huge;
    }

    .c-hero-banner--tall-image {
        .c-hero-banner__image {
            background-position: center top;
        }
    }
}

@include mq($from: mobile) {
    .c-hero-banner--tall.c-hero-banner--tall {
        min-height: $hero-banner-min-height--tall;
    }

    .c-hero-banner__wrapper {
        @include rem(padding-left, $global-spacing);
        @include rem(padding-right, $global-spacing);
    }

    .c-hero-banner--align-right .c-hero-banner__wrapper {
        float: right;
    }
}

@include mq($from: tablet) {
    .c-hero-banner--tall.c-hero-banner--tall {
        min-height: $hero-banner-min-height--tall--large;
    }
}

@include mq($until: mobile) {
    .c-hero-banner {
        background-color: transparent !important;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .c-hero-banner__image {
        display: flex;
        order: 2;
        position: relative;
    }
    .c-hero-banner--align-left .c-hero-banner__image {
        background-position: 80% 40%;
        background-size: auto 120%;
    }

    .c-hero-banner__wrapper {
        color: $color-black;
        order: 1;
        max-width: none;
        text-align: center;

        .c-button--white {
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    .c-hero-banner--reversed {
        .c-hero-banner__image {
            order: 1;
        }
        .o-wrapper {
            order: 2;
        }

        .u-h1 {
            font-size: $inuit-font-size-h3 !important;
        }
    }
}
