.c-image-block {
    animation: imageBlockEntrance 1.5s;
    animation-fill-mode: forwards;
    background-color: $color-grey-light;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    width: 100%;
}

.c-image-block__description {
    @include inuit-font-size(14px, false);
    background-color: rgba($color-black, 0.5);
    align-items: center;
    border-radius: $global-radius--small;
    bottom: $global-spacing-tiny;
    color: $color-white;
    display: flex;
    font-family: $global-font-family-bold;
    left: $global-spacing-tiny;
    padding: $global-spacing-tiny $global-spacing-small;
    position: absolute;
    transition: $global-transition;
}
.c-image-block__description:hover,
.c-image-block__description:active {
    background-color: rgba($color-black, 0.9);
}

@keyframes imageBlockEntrance {
    from {
        opacity: 0;
        transform: scale(1.05);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.c-image-block--hero {
    padding-bottom: 50%;
    padding-bottom: 50vmin;

    @include mq($from: tablet) {
        padding-bottom: 75%;
        padding-bottom: 75vmin;
    }
}

//

.c-image-block-gallery {
    display: flex;
    height: 75vmin;

    .o-layout__item {
        display: flex;
        flex-direction: column;
    }

    .c-image-block {
        height: 100%;
        padding-bottom: 0;
    }
    .c-image-block + .c-image-block {
        margin-top: $global-spacing-small;
    }
}

.c-image-block-gallery--tall {
    height: 85vmin;
}

.c-image-block-illustration {
    float: right;
    margin-right: $global-spacing-large;
    margin-top: ($global-spacing-large * -1);
    position: relative;
    width: 450px;
    z-index: 1;
}
