@include mq($from: tablet) {
    .c-overlay-nav {
        display: none !important;
    }
}

@include mq($until: tablet) {
    .c-overlay-nav {
        background-color: $color-white;
        flex-direction: column;
        height: 100%;
        left: 0;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $global-highest-z-index - 1;
    }
    .c-overlay-nav__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-top: $global-spacing-huge;
        will-change: opacity;
    }

    .c-overlay-nav__nav {
        align-content: center;
        position: relative;
        top: 50%;
        transform: translateY(-60%);
    }
    .c-overlay-nav--main {
        flex-grow: 1;
    }

    .c-overlay-nav__link {
        @include inuit-font-size(30px, false);
        color: $color-primary;
        display: block;
        font-family: $global-font-family-body;
        padding: 0 $global-spacing;
        text-align: center;
        transition: color $global-transition-speed $global-transition-easing;
    }

    .c-overlay-nav .c-button {
        align-self: center;
    }
}

@include mq($from: mobile, $until: desktop) {
    .c-overlay-nav__nav--main {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        margin-top: $global-spacing-large;
        max-height: 450px;
    }
}

@include mq($until: mobile) {
    .c-overlay-nav__link {
        @include inuit-font-size($inuit-font-size-h3, false);
        padding-top: $global-spacing-small;
    }
    .c-overlay-nav__footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: $global-spacing-small;
        padding-top: $global-spacing-small;
    }
}

@media only screen and (max-height: 850px) and (orientation: landscape) {
    .c-overlay-nav__nav--main {
        margin-top: 0;
    }

    .c-overlay-nav__nav {
        display: block;
    }
    .c-overlay-nav__footer a,
    .c-overlay-nav__nav a {
        display: inline-block;
        margin-left: $global-spacing;
    }
    .c-overlay-nav__footer {
        display: block;
    }
    .c-overlay-nav__footer br,
    .c-overlay-nav__nav br,
    .c-overlay-nav .u-label {
        display: none;
    }
}
