.c-quote {
    text-align: center;
}

.c-quote__body {
    @include inuit-font-size(26px);
    line-height: 1.4;
}

.c-quote__footer {
    @include rem(margin-top, $global-spacing);
    font-family: $global-font-family-headings;
}
