$quote-tabs-max-width: 800px;
$quote-tab-opacity--inactive: 0.3;
$quote-tab-opacity--hover: 0.6;

.c-quote-tabs__quotes {
    overflow: hidden;
}

/**
 * 1. Hide all quotes by default
 */
.c-quote-tabs__quote {
    display: none; /* [1] */
}
/**
 * 1. Show active quotes
 */
.c-quote-tabs__quote--active {
    display: block; /* [1] */
}

/**
 * 1. Remove the footer inherited from re-using the generic quote component
 */
.c-quote-tabs__quote .c-quote__footer {
    display: none; /* [1] */
}

/**
 * 1. Center within the tabs' parent container
 */
.c-quote-tabs__tabs {
    display: flex;
    justify-content: center;
    margin-left: auto; /* [1] */
    margin-right: auto; /* [1] */
    max-width: $quote-tabs-max-width;
}
/**
 * 1. Ensure the cursor is always in 'hover' state
 * 2. Allow the tabs to take up more space if available
 * 3. Dim the buttons if they are not active
 */
.c-quote-tabs__tab {
    background-color: $color-grey;
    cursor: pointer; /* [1] */
    display: inline-block;
    border-radius: 100%;
    height: $global-spacing-tiny;
    padding: 0;
    text-indent: -9999px;
    transition: $global-transition;
    width: $global-spacing-tiny;
}
/**
 * 1. Show a hover state so the logos don't appear 'disabled'
 */
.c-quote-tabs__tab:hover,
.c-quote-tabs__tab:active,
.c-quote-tabs__tab--active {
    background-color: $color-bright-sun;
}

/**
 * 1. Prevent any interactive cursor state
 */
.c-quote-tabs__tab--active {
    pointer-events: none; /* [1] */
}

/**
 * 1. Increase the spacing between buttosn when we have more space
 */
.c-quote-tabs__tab + .c-quote-tabs__tab {
    margin-left: $global-spacing-tiny; /* [1] */
}
