.c-select-navigation {
    background-color: $color-white;
    border: none;
    font-family: $global-font-family-bold;
    padding: $global-spacing-small;
    position: relative;
    webkit-appearance: none;
    width: 100%;
}

.c-select-navigation-wrapper {
    position: relative;
}
.c-select-navigation-wrapper::after {
    content: '›';
    color: $color-black;
    font-size: $global-spacing;
    height: 8px;
    position: absolute;
    right: 8px;
    transform: rotate(90deg);
    top: 16px;
}
