.c-sidebar-nav {
    min-height: 200px;
    position: relative;
}
.c-sidebar-nav::before {
    background-color: $color-grey-light;
    content: '';
    height: 100%;
    right: $global-spacing;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1;
}

.c-sidebar-nav__link {
    display: block;
    padding-bottom: $global-spacing-small;
    padding-top: $global-spacing-small;
    position: relative;
}
.c-sidebar-nav__link::before {
    background-color: $color-primary;
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    right: $global-spacing;
    top: 0;
    transition: $global-transition;
    width: 2px;
    will-change: opacity;
    z-index: 2;
}
.c-sidebar-nav__link:hover,
.c-sidebar-nav__link:active {
    color: $color-primary;
}

.c-sidebar-nav__link--active {
    color: $color-primary;
    font-family: $global-font-family-bold;
}
.c-sidebar-nav__link--active::before {
    height: 100%;
    opacity: 1;
}
