.c-site-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: $global-spacing 0;
    width: 100%;
}

@include mq($until: mobile) {
    .c-site-logo {
        height: auto;
        width: 160px;
    }
}
