$site-header-animation-duration: 0.8s;
$site-header-background-color: $color-white;
$site-header-height: 84px;
$site-header-height--small: 64px;
$site-header-logo-height: 28px;
$site-header-logo-height--small: 26px;
$site-header-padding: $global-spacing;
$site-header-shadow: $global-shadow-active;
$site-header-z-index: ($global-highest-z-index + 2);

.c-site-header {
    background-color: $site-header-background-color;
    position: relative;
    z-index: $global-highest-z-index;
}
.c-site-header.u-is-stuck {
    left: 0;
    position: fixed;
    width: 100%;
    z-index: $global-highest-z-index;
}

.c-site-header-spacing {
    height: 88px;
}

.c-site-header-shadow {
    box-shadow: $site-header-shadow;
    content: '';
    height: $site-header-height;
    margin-left: 10vw;
    position: fixed;
    top: 0;
    width: 80vw;
    z-index: $global-highest-z-index - 1;
}

.c-site-header__wrapper {
    align-items: center;
    display: flex;
    height: $site-header-height--small;
    position: relative;
}

.c-site-header__nav {
    flex-grow: 1;
}

.c-site-header__link:hover,
.c-site-header__link:focus {
    color: $color-primary;
}

.c-site-header__link--active {
    color: $color-primary;
    font-family: $global-font-family-bold;
}

.c-site-header__button {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.c-site-header__button .c-svg {
    display: none;
}

.c-site-header__logo {
    height: $site-header-logo-height--small;
    max-width: 140px;
    width: auto;
}

@include mq($from: mobile) {
    .c-site-header__wrapper {
        height: $site-header-height;
    }
    .c-site-header__wrapper * {
        flex-grow: 1;
    }

    .c-site-header-spacing {
        // height: $site-header-height + $site-header-logo-height;
        height: 108px;
    }

    .c-site-header__link + .c-site-header__link {
        margin-left: $site-header-padding;
    }

    .c-site-header__logo {
        height: $site-header-logo-height;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
