$site-footer-background-color: $color-white;
$site-footer-logo-height: 26px;
$site-footer-padding-vertical: $global-spacing-large;
$site-footer-padding-vertical--small: $global-spacing;

.c-site-footer {
    background-color: $site-footer-background-color;
    position: relative;
}

.c-site-footer__wrapper {
    padding-bottom: $site-footer-padding-vertical--small;
    padding-top: $site-footer-padding-vertical--small;
}

.c-site-footer__logo {
    height: auto;
    width: 120px;
}

.c-site-footer__nav {
    line-height: 1.8;

    a:hover,
    a:focus {
        color: $color-primary;
        transform: translateX(2px);
    }
}

@include mq($from: mobile) {
    .c-site-footer__wrapper {
        padding-bottom: $site-footer-padding-vertical;
        padding-top: $site-footer-padding-vertical;
        position: relative;
    }

    .c-site-footer__columns {
        display: flex;
    }
    .c-site-footer__column:nth-child(1) {
        order: 2;
    }
}
