$subscription-placeholder-label-background: rgba($color-black, 0.1);
$subscription-placeholder-button-background: rgba($color-white, 0.85);
$subscription-placeholder-label-height: 12px;
$subscription-placeholder-button-height: 120px;
$subscription-placeholder-button-height--small: 100px;
$subscription-placeholder-radius: 6px;

.c-subscription-placeholder__label {
    background-color: $subscription-placeholder-label-background;
    border-radius: $subscription-placeholder-radius;
    height: $subscription-placeholder-label-height;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.c-subscription-placeholder__button {
    background-color: $subscription-placeholder-button-background;
    border-radius: $subscription-placeholder-radius;
    box-shadow: $global-shadow;
    height: $subscription-placeholder-button-height--small;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@include mq($from: mobile) {
    .c-subscription-placeholder__button {
        height: $subscription-placeholder-button-height;
    }
}

.c-subscription-placeholder__button::before,
.c-subscription-placeholder__label::before {
    animation: phAnimation 0.8s linear infinite;
    background: linear-gradient(
            to right,
            rgba(darken($subscription-placeholder-button-background, 6%), 0) 36%,
            rgba(darken($subscription-placeholder-button-background, 6%), 0.35) 50%,
            rgba(darken($subscription-placeholder-button-background, 6%), 0) 64%
        )
        50% 50%;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 300%;
}
.c-subscription-placeholder__label::before {
    background: linear-gradient(
            to right,
            rgba(darken($subscription-placeholder-label-background, 2%), 0) 36%,
            rgba(darken($subscription-placeholder-label-background, 2%), 0.05) 50%,
            rgba(darken($subscription-placeholder-label-background, 2%), 0) 64%
        )
        50% 50%;
}

@keyframes phAnimation {
    0% {
        transform: translate3d(-50%, 0, 0);
    }
    100% {
        transform: translate3d(50%, 0, 0);
    }
}
