$svg-colors: white black;
$svg-sizes: 18 15 10 8;

.c-svg {
    height: $global-spacing;
    width: $global-spacing;
}

@each $svg-color in $svg-colors {
    .c-svg--#{$svg-color},
    .c-svg--#{$svg-color} * {
        fill: $svg-color;
    }
}

@each $svg-size in $svg-sizes {
    .c-svg--w#{$svg-size} {
        height: #{$svg-size}px;
        width: #{$svg-size}px;
    }
}

.c-svg--primary,
.c-svg--primary * {
    fill: $color-primary;
}

.c-svg--grey,
.c-svg--grey * {
    fill: $color-grey;
}
