<div class="c-modal js-modal u-hide" data-modal="box-sizes-fallback">
    <div class="c-modal__wrapper c-modal__wrapper--small c-animated-content u-p u-p+@mobile u-shadow t-white js-modal-wrapper">
        {%- assign modal_name = 'box-sizes-fallback' -%}
        {% include 'modal-close-button' %}

        <div class="u-text-align-center u-max-w-450 u-m-auto">
            <h2 class="u-heading u-h3 u-mb js-title">{{ section.settings.title }}</h2>
            <p class="js-copy">{{ section.settings.content }}</p>
        </div>

        <form action="{{ settings.mailchimp_newsletter_post_url }}" method="post" class="c-form c-form--blocks u-max-w-650 u-m-auto u-mt u-mt+@mobile js-form">
            <div class="o-layout o-layout--small o-layout--matrix">
                <div class="o-layout__item u-6/12">
                    <div class="c-form__field u-p- u-border-1">
                        <label class="c-form__label" for="name">Your name</label>
                        <input id="name" type="text" class="c-form__input u-1/1" maxlength="50" placeholder="George" name="FNAME" required />
                    </div>
                </div><div class="o-layout__item u-6/12">
                    <div class="c-form__field u-p- u-border-1">
                        <label class="c-form__label" for="dog_breed">Your dog's breed</label>
                        <input id="dog_breed" type="text" class="c-form__input u-1/1" maxlength="50" placeholder="Labrador" name="DOGBREED" required />
                    </div>
                </div><div class="o-layout__item">
                    <div class="c-form__field u-p- u-border-1">
                    <label class="c-form__label" for="email">Your email</label>
                        <input id="email" type="email" class="c-form__input u-1/1" maxlength="100" placeholder="george@domain.com" name="EMAIL" required />
                    </div>
                </div>
            </div>

            <div class="o-layout u-mt- u-flex@mobile u-align-items-center">
                <div class="o-layout__item u-7/12@mobile">
                    <div class="u-relative">
                        <input type="checkbox" id="newsletter-consent" class="c-form__checkbox u-mr--" name="{{ settings.mailchimp_newsletter_consent_field_name }}" required>

                        <label class="c-form__label u-case-initial u-font-size-14 u-color-grey" for="newsletter-consent">{{ settings.form_consent_checkbox_label }}</label>
                    </div>
                </div><div class="o-layout__item u-5/12@mobile u-text-align-right@mobile u-mt- u-mt0@mobile">
                    <input type="hidden" name="REFERER" value="https://{{ request.host }}{{ request.path }}">
                    <input type="hidden" name="SIGNUPTYPE" value="Big dog notification">

                    <button class="c-button c-button--primary u-1/1" aria-label="Sign up">
                        {{ section.settings.cta_label }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% schema %}
{
    "name": "The Box big dogs",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA label"
        },
        {
            "type": "text",
            "id": "mailchimp_form_url",
            "label": "Form URL"
        },
        {
            "type": "text",
            "id": "mailchimp_form_key",
            "label": "Form key"
        }
    ]
}
{% endschema %}
