{%- for block in section.blocks -%}
    {%- if block.settings.page contains page.url or template.name == 'index' and block.settings.page == '/' -%}    
        {%- assign image_1 = block.settings.image_1 -%}
        {%- assign description_1 = block.settings.description_1 -%}
        {%- assign image_2 = block.settings.image_2 -%}
        {%- assign description_2 = block.settings.description_2 -%}
        {%- assign image_3 = block.settings.image_3 -%}
        {%- assign description_3 = block.settings.description_3 -%}
        {%- assign id = 'breed-landing-' | append: forloop.index -%}
        {% include 'three-image-block' %}
    {%- endif -%}
{%- endfor -%}

{% schema %}
{
    "name": "Breed - Gallery",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "url",
                    "id": "page",
                    "label": "Page to feature on"
                },
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1"
                },
                {
                    "type": "text",
                    "id": "description_1",
                    "label": "Description 1"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2"
                },
                {
                    "type": "text",
                    "id": "description_2",
                    "label": "Description 2"
                },
                {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Image 3"
                },
                {
                    "type": "text",
                    "id": "description_3",
                    "label": "Description 3"
                }
            ]
        }
    ]
}
{% endschema %}
