{%- for block in section.blocks -%}
    {%- if block.settings.page contains page.url or template.name == 'index' and block.settings.page == '/' -%}    
        <section class="o-section o-wrapper u-pl0@mobile">
            <div class="o-layout u-stack-layout@mobile u-text-align-center u-flex@mobile">
                <div class="o-layout__item u-7/12@mobile">
                    <div class="u-pr++@desktop">
                        {%- if block.settings.image != blank -%}
                            <img src="{{ block.settings.image | img_url: '800x' }}" alt="" class="u-max-h-400 u-mh u-mh0@mobile" style="width: auto;">
                        {%- elsif block.settings.illustration != blank -%}
                            {%- assign illustration = 'illustration-' | append: block.settings.illustration -%}
                            {%- assign classes = 'u-max-h-400 u-mh u-mh0@mobile' -%}
                            {% include illustration %}
                        {%- endif -%}
                    </div>
                </div><div class="o-layout__item u-5/12@mobile u-flex@mobile u-direction-column u-justify-center u-text-align-left@mobile">
                    <h2 class="u-heading u-ph u-ph0@mobile u-mb">{{ block.settings.title }}</h2>
                    <p class="s-content-links">{{ block.settings.content }}</p>

                    <div class="u-fade-intersected js-monitor">
                        {%- assign url = block.settings.cta_url -%}
                        {%- assign label = block.settings.cta_label -%}
                        {%- assign attributes = 'data-category="' | append: block.settings.cta_label | append: ' CTA" data-label="Box teaser banner"' -%}
                        {% include 'primary-cta-button' %}
                    </div>
                </div>
            </div>
        </section>
    {%- endif -%}
{%- endfor -%}

{% schema %}
{
    "name": "Breed - Box Teaser",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "url",
                    "id": "page",
                    "label": "Page to feature on"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "illustration",
                    "label": "Illustration",
                    "options": [
                        {"value": "", "label": "-"},
                        {"value": "dino-chew", "label": "Dino Chew"},
                        {"value": "door", "label": "Door"},
                        {"value": "gift", "label": "Gift"},
                        {"value": "head-in-box-1", "label": "Head in box (1)"},
                        {"value": "head-in-box-2", "label": "Head in box (2)"},
                        {"value": "laptop", "label": "Laptop"},
                        {"value": "on-the-box", "label": "On the box"},
                        {"value": "running", "label": "Running"},
                        {"value": "tug-of-war", "label": "Tug of war"}
                    ]
                },
                {
                    "type": "url",
                    "id": "cta_url",
                    "label": "CTA URL"
                },
                {
                    "type": "text",
                    "id": "cta_label",
                    "label": "CTA Label"
                }
            ]
        }
    ]
}
{% endschema %}
