{%- for block in section.blocks -%}
    {%- if block.settings.page contains page.url or template.name == 'index' and block.settings.page == '/' -%}    
    <section class="o-section o-wrapper">
            <div class="o-layout c-animated-content">
                <div class="o-layout__item u-6/12 u-3/12@mobile u-text-align-center@mobile">
                    <div class="u-h1 u-color-bright-sun u-mb0" data-order="1">
                        {{ block.settings.title_1 }}
                    </div>
                    <div class="u-h5 u-font-weight-600 u-mb--">
                        {{ block.settings.subtitle_1 }}
                    </div>
                    <p class="u-ph@mobile">{{ block.settings.content_1 }}</p>
                </div><div class="o-layout__item u-6/12 u-3/12@mobile u-text-align-center@mobile">
                    <div class="u-h1 u-color-bright-sun u-mb0" data-order="2">
                        {{ block.settings.title_2 }}
                    </div>
                    <div class="u-h5 u-font-weight-600 u-mb--">
                        {{ block.settings.subtitle_2 }}
                    </div>
                    <p class="u-ph@mobile">{{ block.settings.content_2 }}</p>
                </div><div class="o-layout__item u-6/12 u-3/12@mobile u-text-align-center@mobile">
                    <div class="u-h1 u-color-bright-sun u-mb0" data-order="3">
                        {{ block.settings.title_3 }}
                    </div>
                    <div class="u-h5 u-font-weight-600 u-mb--">
                        {{ block.settings.subtitle_3 }}
                    </div>
                    <p class="u-ph@mobile">{{ block.settings.content_3 }}</p>
                </div>
            </div>
        </section>
    {%- endif -%}
{%- endfor -%}

{% schema %}
{
    "name": "Breed – The Box Items",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "url",
                    "id": "page",
                    "label": "Page to feature on"
                },
                {
                    "type": "text",
                    "id": "title_1",
                    "label": "Title 1"
                },
                {
                    "type": "text",
                    "id": "subtitle_1",
                    "label": "Subtitle 1"
                },
                {
                    "type": "textarea",
                    "id": "content_1",
                    "label": "Content 1"
                },
                {
                    "type": "text",
                    "id": "title_2",
                    "label": "Title 2"
                },
                {
                    "type": "text",
                    "id": "subtitle_2",
                    "label": "Subtitle 2"
                },
                {
                    "type": "textarea",
                    "id": "content_2",
                    "label": "Content 2"
                },
                {
                    "type": "text",
                    "id": "title_3",
                    "label": "Title 3"
                },
                {
                    "type": "text",
                    "id": "subtitle_3",
                    "label": "Subtitle 3"
                },
                {
                    "type": "textarea",
                    "id": "content_3",
                    "label": "Content 3"
                }
            ]
        }
    ]
}
{% endschema %}
