<div class="c-modal c-modal--promo js-modal u-hide" data-modal="dog-sizes-guide">
    <div class="c-modal__wrapper u-p u-p+@mobile u-p++@tablet u-pr+@tablet u-shadow t-white u-flex@mobile js-modal-wrapper">
        <div class="o-layout o-layout--large">
            <div class="o-layout__item u-5/12@mobile u-show@mobile u-text-align-center">
                {%- if section.settings.image != blank -%}
                    <img src="{{ section.settings.image | img_url: 'x800' }}" alt="" class="u-max-h-400 u-max-w-100 u-pr@mobile u-pr+@tablet" style="width: auto;">
                {%- elsif section.settings.illustration != blank -%}
                    {%- assign illustration = 'illustration-' | append: section.settings.illustration -%}
                    {%- assign classes = 'u-max-h-400 u-max-w-100 u-pr@mobile u-pr+@tablet' -%}
                    {% include illustration %}
                {%- endif -%}
            </div><div class="o-layout__item u-7/12@mobile">
                <h2 class="u-heading u-mb u-mb+@mobile u-pr@desktop js-title">{{ section.settings.title }}</h2>

                <div class="u-label u-color-grey js-label">{{ section.settings.breeds_label}}:</div>

                <div class="u-cols-2@mobileSmall u-line-height-30 u-mt- u-mt@mobile">
                    {%- for block in section.blocks -%}
                        <div class="u-flex u-align-items-center u-line-height-2 js-dog-breed">
                            <svg width="22" height="22" class="c-svg u-mr-" xmlns="http://www.w3.org/2000/svg"><g fill="#FAE345" fill-rule="nonzero"><path d="M10.987 0C4.929 0 0 4.929 0 10.987c0 6.057 4.929 10.986 10.987 10.986 6.057 0 10.986-4.929 10.986-10.986C21.973 4.929 17.044 0 10.987 0zm0 20.875c-5.453 0-9.89-4.435-9.89-9.888s4.437-9.89 9.89-9.89 9.888 4.437 9.888 9.89-4.435 9.888-9.888 9.888z"/><path d="M13.863 8.312L9.651 12.5l-1.537-1.546a.55.55 0 0 0-.775-.004.55.55 0 0 0-.004.775l1.922 1.936a.546.546 0 0 0 .775 0l4.602-4.575a.546.546 0 1 0-.77-.775z"/></g></svg>
                            {{ block.settings.title }}
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>

        {%- assign modal_name = 'dog-sizes-guide' -%}
        {% include 'modal-close-button' %}
    </div>
</div>

{% schema %}
{
    "name": "The Box size guide",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "breeds_label",
            "label": "Breeds label"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "illustration",
            "label": "Illustration",
            "options": [
                {"value": "", "label": "-"},
                {"value": "dino-chew", "label": "Dino Chew"},
                {"value": "door", "label": "Door"},
                {"value": "gift", "label": "Gift"},
                {"value": "head-in-box-1", "label": "Head in box (1)"},
                {"value": "head-in-box-2", "label": "Head in box (2)"},
                {"value": "laptop", "label": "Laptop"},
                {"value": "on-the-box", "label": "On the box"},
                {"value": "running", "label": "Running"},
                {"value": "tug-of-war", "label": "Tug of war"}
            ]
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Breed"
                }
            ]
        }
    ]
}
{% endschema %}
