{%- assign categories = 'General|Shipping|Billing|Gifts|Other' | split: '|' -%}
{%- for category in categories -%}
    {%- assign category_index = forloop.index0 -%}
    <div class="{% if forloop.index < categories.size %}u-mb u-mb+@mobile{% endif %}">
        <h2 class="u-heading u-mb u-font-weight-300 u-fade-intersected js-monitor">{{ category }}</h2>

        <ul class="o-list-bare">
            {%- for block in section.blocks -%}
                {%- if block.settings.category == category -%}
                    <li class="o-list-bare__item u-pb--">
                        {%- assign accordion_id = 'faq-' | append: category_index | append: forloop.index0 -%}
                        {%- assign accordion_title = block.settings.title -%}
                        {%- assign accordion_content = block.settings.content -%}
                        {% include 'accordion' %}
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    </div>
{%- endfor -%}


{% schema %}
{
    "name": "FAQ",
    "blocks": [
        {
            "name": "FAQ content",
            "type": "object",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content"
                },
                {
                    "type": "select",
                    "id": "category",
                    "label": "Category",
                    "options": [
                        {"value": "General", "label": "General"},
                        {"value": "Shipping", "label": "Shipping"},
                        {"value": "Billing", "label": "Billing"},
                        {"value": "Gifts", "label": "Gifts"},
                        {"value": "Other", "label": "Other"}
                    ]
                }
            ]
        }
    ]
}
{% endschema %}
