<footer class="c-site-footer">
    <div class="c-site-footer__wrapper o-wrapper u-mt u-mt0@mobile">
        <div class="c-site-footer__columns o-layout u-stack-layout@mobile">
            <div class="c-site-footer__column o-layout__item u-5/12@mobile u-mb u-mb0@mobile">
                <form action="{{ settings.mailchimp_newsletter_post_url }}" method="post" class="u-max-w-450">
                    <h6 class="u-label u-color-primary u-mb-">
                        {{ settings.mailchimp_newsletter_title }}
                    </h6>

                    <p>{{ settings.mailchimp_newsletter_intro_copy }}</p>

                    <div class="c-form__field u-mt- u-1/1">
                        <input type="email" id="email" name="{{ settings.mailchimp_newsletter_email_field_name }}" placeholder="Your email address" class="c-form__input u-1/1 u-font-size-16 u-ph-" required aria-label="Your email address">
                        <input type="hidden" name="REFERER" value="https://{{ request.host }}{{ request.path }}">
                        <input type="hidden" name="SIGNUPTYPE" value="Newsletter">
                        <button class="c-button c-button--grey-light c-button--tiny c-form__button c-form__button--inline">
                            Join
                        </button>
                    </div>

                    <div class="u-relative u-mt-" style="max-width: 150px;">
                        <input type="checkbox" id="newsletter-consent" class="c-form__checkbox u-mr--" name="{{ settings.mailchimp_newsletter_consent_field_name }}" required>

                        <label class="c-form__label u-font-size-14 u-color-grey" for="newsletter-consent">{{ settings.form_consent_checkbox_label }}</label>
                    </div>
                </form>
            </div><div class="c-site-footer__column o-layout__item u-7/12@mobile u-mt u-mt0@mobile">
                <nav id="menu" class="c-site-footer__nav o-layout">
                    {%- for group in linklists.footer.links -%}
                        <div class="o-layout__item u-6/12 u-4/12@mobileSmall u-mb u-mb0@mobile">
                            <h6 class="u-label u-color-primary u-mb-">
                                {{ group.title }}
                            </h6>
                            
                            {%- for link in group.links -%}
                                <a href="{{ link.url }}" class="u-display-block {% if link.active %}u-font-weight-600 u-color-primary{% endif %} js-track-event" data-category="{{ link.title }} link" data-label="Site footer">
                                    {{ link.title }}
                                </a>
                            {%- endfor -%}
                        </div>
                    {%- endfor -%}
                </nav>
            </div>
        </div>
        <div class="u-flex@mobile u-align-items-center u-mt u-mt+@mobile u-color-grey u-font-size-14">
            <a href="/" aria-label="Go home" class="u-display-block u-mr u-mb-">
                {%- assign classes = 'c-site-footer__logo' -%}
                {% include 'logo' %}
            </a>
            <div>
                &copy; {{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }} | All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
