<div style="overflow: hidden;">
    <section class="o-section u-mh c-dog-bubbles">
        <div class="u-p u-p+@mobileSmall u-p++@tablet u-m-auto u-max-w-600 u-text-align-center c-dog-bubbles__copy">
            <h2 class="u-heading u-mb u-mb@mobile">{{ section.settings.title }}</h2>

            {%- if section.settings.copy != blank -%}
                <p class="u-max-w-450 u-m-auto">{{ section.settings.copy }}</p>
            {%- endif -%}

            {% if section.settings.cta_url != blank %}
                {% if section.settings.cta_url != blank %}
                    {%- assign url = section.settings.cta_url -%}
                    {%- assign label = section.settings.cta_label -%}
                    {%- assign attributes = 'data-category="' | append: section.settings.cta_label | append: ' CTA" data-label="For your Dog banner"' -%}
                    {% include 'primary-cta-button' %}
                {% endif %}
            {%- endif -%}
        </div>
        <div class="c-dog-bubbles__canvas">
            <div class="c-dog-bubbles__bubble u-fade-intersected js-monitor" style="background-image: url('{{ section.blocks[0].settings.image | img_url: '140x' }}');" title="{{ section.blocks[0].settings.label }}"></div><div class="c-dog-bubbles__bubble u-fade-intersected js-monitor" style="background-image: url('{{ section.blocks[1].settings.image | img_url: '220x' }}');" title="{{ section.blocks[1].settings.label }}"></div><div class="c-dog-bubbles__bubble u-fade-intersected js-monitor" style="background-image: url('{{ section.blocks[2].settings.image | img_url: '300x' }}');" title="{{ section.blocks[2].settings.label }}"></div><div class="c-dog-bubbles__bubble u-fade-intersected js-monitor" style="background-image: url('{{ section.blocks[3].settings.image | img_url: '180x' }}');" title="{{ section.blocks[3].settings.label }}"></div><div class="c-dog-bubbles__bubble u-fade-intersected js-monitor" style="background-image: url('{{ section.blocks[4].settings.image | img_url: '300x' }}');" title="{{ section.blocks[4].settings.label }}"></div><div class="c-dog-bubbles__bubble u-fade-intersected js-monitor" style="background-image: url('{{ section.blocks[5].settings.image | img_url: '120x' }}');" title="{{ section.blocks[5].settings.label }}"></div>
        </div>

        <div class="u-hide">
            {%- comment -%}
                preload image assts
            {%- endcomment -%}
            <img src="{{ section.blocks[0].settings.image | img_url: '140x' }}">
            <img src="{{ section.blocks[1].settings.image | img_url: '220x' }}">
            <img src="{{ section.blocks[2].settings.image | img_url: '300x' }}">
            <img src="{{ section.blocks[3].settings.image | img_url: '180x' }}">
            <img src="{{ section.blocks[4].settings.image | img_url: '300x' }}">
            <img src="{{ section.blocks[5].settings.image | img_url: '120x' }}">
        </div>
    </section>
</div>

{% schema %}
{
    "name": "For your Dog banner",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "copy",
            "label": "Copy"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA Label"
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 6,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "label",
                    "label": "Label"
                }
            ]
        }
    ]
}
{% endschema %}
