<div class="c-modal js-modal u-hide" data-modal="gift-subscription-review">
    <div class="c-modal__wrapper c-modal__wrapper--small u-p u-p+@mobile u-pr+@tablet u-shadow t-white u-flex@mobile js-modal-wrapper">
        <div class="o-layout o-layout--large u-flex@mobile">
            <div class="o-layout__item u-5/12@mobile u-show@mobile u-text-align-center">
                {%- if section.settings.image != blank -%}
                    <img src="{{ section.settings.image | img_url: 'x800' }}" alt="" class="u-max-h-400 u-max-w-100 u-pr@mobile u-pr+@tablet" style="width: auto;">
                {%- elsif section.settings.illustration != blank -%}
                    {%- assign illustration = 'illustration-' | append: section.settings.illustration -%}
                    {%- assign classes = 'u-max-h-400 u-max-w-100 u-pr@mobile u-pr+@tablet' -%}
                    {% include illustration %}
                {%- endif -%}
            </div><div class="o-layout__item u-7/12@mobile u-flex@mobile u-direction-column u-justify-center">
                <h2 class="u-heading u-mb u-pr@desktop js-title">{{ section.settings.title }}</h2>

                <div class="u-pr+@mobile js-copy">
                    {{ section.settings.copy | newline_to_br }}
                </div>

                <button type="submit" class="c-button c-button--primary u-mt js-cta" style="animation: none !important; transition: 0 !important;">
                    {{ section.settings.cta_label }}
                </button>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Gift subscription review",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "copy",
            "label": "Copy"
        },  
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA label"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "illustration",
            "label": "Illustration",
            "options": [
                {"value": "", "label": "-"},
                {"value": "dino-chew", "label": "Dino Chew"},
                {"value": "door", "label": "Door"},
                {"value": "gift", "label": "Gift"},
                {"value": "head-in-box-1", "label": "Head in box (1)"},
                {"value": "head-in-box-2", "label": "Head in box (2)"},
                {"value": "laptop", "label": "Laptop"},
                {"value": "on-the-box", "label": "On the box"},
                {"value": "running", "label": "Running"},
                {"value": "tug-of-war", "label": "Tug of war"}
            ]
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Breed"
                }
            ]
        }
    ]
}
{% endschema %}
