{%- if settings.promo_banner_text != blank -%}
    {%- assign SHOW_PROMO_BANNER = true -%}
{%- endif -%}
<header class="c-site-header u-is-stuck js-site-header">
    {%- if SHOW_PROMO_BANNER -%}
        {% include 'promo-banner' %}
    {%- endif -%}
    <div class="c-site-header__wrapper o-wrapper">
        <nav class="c-site-header__nav u-show@mobile">
            {%- for link in linklists.main-menu.links -%}
                <a href="{{ link.url }}" class="c-site-header__link {% if link.active %}c-site-header__link--active{% endif %}">
                    {{ link.title }}
                </a>
            {%- endfor -%}
        </nav>

        <a href="#menu" class="c-hamburger u-mr u-hide@mobile js-overlay-nav-toggle">
            <span class="c-hamburger__icon">Menu</span>
        </a>

        <a href="/" aria-label="Go home">
            {%- assign classes = 'c-site-header__logo u-fade-in-up' -%}
            {% include 'logo' %}
        </a>

        <nav class="c-site-header__nav u-text-align-right {% if template == 'product' %}u-show@mobile{% endif %}">
            {%- if customer -%}
                <a href="/account" class="c-site-header__link u-show@mobile">
                    {{ 'customer.account.title' | t }}
                    <span class="u-notification-icon u-ml-- js-notification-icon" style="display: none;"></span>
                </a>
            {%- else -%}
                <a href="/account/login" class="c-site-header__link u-show@mobile">{{ 'customer.login.sign_in' | t }}</a>
            {%- endif -%}
            
            {%- for link in linklists.account.links -%}
                <a href="{{ link.url }}" class="c-site-header__link {% if link.active %}c-site-header__link--active{% endif %} {% if link.title == 'Sign up' %}c-site-header__button c-button c-button--primary c-button--round c-button--ghost c-button--icon {% else %}u-show@mobile{% endif %} js-track-event" data-category="{{ link.title }} CTA" data-label="Site header">
                    {%- if link.title == 'Sign up' -%}
                        {%- include 'icon-box' -%}
                    {%- endif -%}
                    {{ link.title }}
                </a>
            {%- endfor -%}
        </nav>
    </div>
</header>
<div class="c-site-header-spacing"></div>
<div class="c-site-header-shadow"></div>
