<section class="c-image-feed t-white u-m u-mb0 u-mb@mobile">
    <ul class="o-list-inline o-list-inline--tiny c-image-feed__list">
        {%- for block in section.blocks limit:12 -%}
            <li class="o-list-inline__item c-image-feed__item u-pt0 u-ml0 t-secondary">
                <a href="{{ block.settings.photo_url }}" target="noopener" aria-label="View the photo on Instagram"  style="background-image: url('{{ block.settings.photo_url }}media/?size=m');" class="u-lazyload u-fade-intersected js-monitor"></a>
            </li>
        {%- endfor -%}
    </ul>
    
    <a href="https://www.instagram.com/dogsofbarkism/" target="noopener" class="c-image-feed__hover u-direction-column u-lead u-text-align-center js-track-event" data-category="Social CTA" data-label="Instagram image banner">
        <p class="u-show@mobile">Follow us on Instagram for more photos</p>

        <div class="u-flex u-align-items-center u-justify-center u-mt-- u-h4">
            {%- assign classes = 'c-svg c-svg--w18 c-svg--primary u-mr--' -%}
            {% include 'instagram-icon' %} <strong>dogsofbarkism</strong>
        </div>
    </a>
</section>

{% schema %}
{
    "name": "Instagram Feed",
    "blocks": [
        {
            "name": "Instagram photo",
            "type": "object",
            "limit": 8,
            "settings": [
                {
                    "type": "url",
                    "id": "photo_url",
                    "label": "Photo URL",
                    "info": "The URL should look like this 'https://www.instagram.com/p/BlF7cLmhMIt/', make sure there is nothing else at the end of the URL after the last '/'"
                }
            ]
        }
    ]
}
{% endschema %}
