{%- assign block = section.blocks[0] -%}
<section class="o-section o-wrapper">
    <div class="u-text-align-center c-animated-content">
        <h1 class="u-heading u-ph" data-order="1">{{ block.settings.title }}</h1>
    </div>
</section>

<div class="u-mh@mobile u-overflow-hidden">
    <div id="our-story-intro-image" class="c-image-block c-image-block--hero" style="background-image: url('{{ block.settings.image | img_url: '1200x', crop: 'center' }}');">
    </div>
    <style>@media only screen and (min-width: 46.0525em) { #our-story-intro-image { background-image: url('{{ block.settings.image | img_url: '1600x' }}') !important; }</style>
</div>


{% schema %}
{
    "name": "Our Story intro",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}
