{%- for block in section.blocks -%}
    <section class="o-section">
        {%- if block.settings.type == 'Paragraph' -%}
            <div class="o-wrapper o-wrapper--small s-content-links {% if forloop.index0 %}u-lead{% endif %}">
                {{ block.settings.copy | newline_to_br }}
            </div>
        {%- elsif block.settings.type == 'Quote' -%}
            <div class="o-wrapper o-wrapper--medium">
                {%- assign text = block.settings.copy -%}
                {%- assign quotee = block.settings.title -%}
                {%- assign quotee_image = block.settings.image_1 -%}
                {% include 'quote' %}
            </div>
        {%- elsif block.settings.type == 'Full-width image' -%}
            <div class="o-wrapper o-wrapper--medium">
                <img src="{{ block.settings.image_1 | img_url: '1400x' }}" class="u-1/1" />
            </div>
        {%- elsif block.settings.type == 'Gallery' -%}
            <div class="o-wrapper">
                {%- assign image_1 = block.settings.image_1 -%}
                {%- assign image_2 = block.settings.image_2 -%}
                {%- assign image_3 = block.settings.image_3 -%}
                {%- assign id = 'our-story-' | append: forloop.index -%}
                {% include 'three-image-block' %}

                <div class="c-image-block-illustration u-show@mobile">
                    {% include 'illustration-head-in-box-2' %}
                </div>
            </div>
        {%- elsif block.settings.type == 'Box CTA' -%}
            <div class="o-wrapper o-wrapper--small" style="max-width: 750px;">
                {% include 'box-signup-illustration' %}
            </div>
        {%- endif -%}
    </section>
{%- endfor -%}

{% schema %}
{
    "name": "Our Story content",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "select",
                    "id": "type",
                    "label": "Content Type",
                    "options": [
                        {"value": "Paragraph", "label": "Paragraph"},
                        {"value": "Quote", "label": "Quote"},
                        {"value": "Full-width image", "label": "Full-width image"},
                        {"value": "Gallery", "label": "Gallery"},
                        {"value": "Box CTA", "label": "Box CTA"}
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "textarea",
                    "id": "copy",
                    "label": "Copy"
                },
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2"
                },
                {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Image 3"
                }
            ]
        }
    ]
}
{% endschema %}
