<div class="c-overlay-nav js-overlay-nav" style="display: none;">
    <div class="c-overlay-nav__inner js-overlay-nav-inner">
        <nav class="c-overlay-nav__nav c-overlay-nav__nav--main u-pt+ u-pb">
            {%- for link in linklists.overlay-navigation.links -%}
                {%- assign title = link.title | split: ' | ' -%}
                <a href="{{ link.url }}" class="c-overlay-nav__link js-overlay-nav-link">
                    {{ title[0] }}
                </a>
                <div class="u-label u-text-align-center u-p-- u-color-grey js-overlay-nav-label">
                    {{ title[1] }}
                </div>
            {%- endfor -%}
            
            {%- if customer -%}
                <a href="/account" class="c-overlay-nav__link js-overlay-nav-link">{{ 'customer.account.title' | t }}</a>
            {%- else -%}
                <a href="/account/login" class="c-overlay-nav__link js-overlay-nav-link">{{ 'customer.login.sign_in' | t }}</a>
            {%- endif -%}

            <div class="u-label u-text-align-center u-pb- u-color-grey js-overlay-nav-label">
                Manage your subscription
            </div>
        </nav>
        <div class="c-overlay-nav__footer u-mt">
            {%- for link in linklists.policies.links -%}
                <a href="{{ link.url }}" class="c-overlay-nav__link u-font-size-14 u-color-grey">
                    {{ link.title }}
                </a>
            {%- endfor -%}
        </div>
    </div>
</div>
