{%- assign block = section.blocks[0] -%}
<div class="u-pv+ u-mh@mobileo-wrapper u-mh@mobile t-{{ block.settings.theme }}">
    <div class="o-wrapper">
        <div class="u-text-align-center u-m-auto u-max-w-600">
            <h2 class="u-heading u-h2 u-mb-">{{ block.settings.title }}</h2>

            {%- if block.settings.subtitle != blank -%}
                <h3 class="u-heading u-h5 u-font-weight-300 u-o-7">{{ block.settings.subtitle }}</h3>
            {%- endif -%}

            {%- if block.settings.content != blank -%}
                <p>{{ block.settings.content }}</p>
            {%- endif -%}
        </div>

        <div class="o-layout u-stack-layout@mobileSmall u-flex@mobileSmall u-mt u-mt+@mobile">
            <div class="o-layout__item u-6/12@mobileSmall">
                {%- if block.settings.primary_product != blank -%}
                    {%- assign card_is_button = true -%}
                    {%- assign card_url = all_products[block.settings.primary_product].url -%}
                    {%- assign card_image = block.settings.primary_product_image -%}
                    {%- assign card_illustration = block.settings.primary_product_illustration -%}
                    {%- assign card_title = block.settings.primary_product_title -%}
                    {%- assign card_subtitle = block.settings.primary_product_label -%}
                    {%- assign card_link_attributes = 'data-category="Sign Up CTA" data-label="Product CTA Banner"' -%}
                    {% include 'card' %}
                {%- endif -%}
            </div><div class="o-layout__item u-6/12@mobileSmall">
                {%- if block.settings.secondary_product != blank -%}
                    {%- assign card_is_button = true -%}
                    {%- assign card_url = all_products[block.settings.secondary_product].url -%}
                    {%- assign card_image = block.settings.secondary_product_image -%}
                    {%- assign card_illustration = block.settings.secondary_product_illustration -%}
                    {%- assign card_title = block.settings.secondary_product_title -%}
                    {%- assign card_subtitle = block.settings.secondary_product_label -%}
                    {%- assign card_link_attributes = 'data-category="Gift CTA" data-label="Product CTA Banner"' -%}
                    {% include 'card' %}
                {%- endif -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product CTA banner",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content"
                },
                {
                    "type": "select",
                    "id": "theme",
                    "label": "Theme",
                    "options": [
                        {"value": "primary", "label": "Primary"},
                        {"value": "secondary", "label": "Secondary"},
                        {"value": "tertiary", "label": "Tertiary"}
                    ],
                    "default": "primary"
                },
                {
                    "type": "product",
                    "id": "primary_product",
                    "label": "Primary product"
                },
                {
                    "type": "image_picker",
                    "id": "primary_product_image",
                    "label": "Primary product image"
                },
                {
                    "type": "select",
                    "id": "primary_product_illustration",
                    "label": "Primary product Illustration",
                    "options": [
                        {"value": "", "label": "-"},
                        {"value": "dino-chew", "label": "Dino Chew"},
                        {"value": "door", "label": "Door"},
                        {"value": "gift", "label": "Gift"},
                        {"value": "gift-small", "label": "Gift (Small size)"},
                        {"value": "head-in-box-1", "label": "Head in box (1)"},
                        {"value": "head-in-box-1-small", "label": "Head in box (1) (Small size)"},
                        {"value": "head-in-box-2", "label": "Head in box (2)"},
                        {"value": "on-the-box", "label": "On the box"},
                        {"value": "running", "label": "Running"},
                        {"value": "tug-of-war", "label": "Tug of war"}
                    ]
                },
                {
                    "type": "text",
                    "id": "primary_product_title",
                    "label": "Primary product title"
                },
                {
                    "type": "text",
                    "id": "primary_product_label",
                    "label": "Primary product label",
                    "default": "Subscribe"
                },
                {
                    "type": "product",
                    "id": "secondary_product",
                    "label": "Secondary product"
                },
                {
                    "type": "image_picker",
                    "id": "secondary_product_image",
                    "label": "Secondary product image"
                },
                {
                    "type": "select",
                    "id": "secondary_product_illustration",
                    "label": "Secondary product Illustration",
                    "options": [
                        {"value": "", "label": "-"},
                        {"value": "dino-chew", "label": "Dino Chew"},
                        {"value": "door", "label": "Door"},
                        {"value": "gift", "label": "Gift"},
                        {"value": "gift-small", "label": "Gift (Small size)"},
                        {"value": "head-in-box-1", "label": "Head in box (1)"},
                        {"value": "head-in-box-1-small", "label": "Head in box (1) (Small size)"},
                        {"value": "head-in-box-2", "label": "Head in box (2)"},
                        {"value": "on-the-box", "label": "On the box"},
                        {"value": "running", "label": "Running"},
                        {"value": "tug-of-war", "label": "Tug of war"}
                    ]
                },
                {
                    "type": "text",
                    "id": "secondary_product_title",
                    "label": "Secondary product title"
                },
                {
                    "type": "text",
                    "id": "secondary_product_label",
                    "label": "Secondary product label",
                    "default": "Subscribe"
                }
            ]
        }
    ]
}
{% endschema %}
