{%- assign PRODUCT_TYPE = 'product' -%}
{%- if product.tags contains 'box' and product.tags contains 'subscription' -%}
    {%- assign PRODUCT_TYPE = 'subscription' -%}
{%- elsif product.tags contains 'box' and product.tags contains 'gift' -%}
    {%- assign PRODUCT_TYPE = 'gift' -%}
{%- endif -%}

{%- assign USER_SUBSCRIPTION_STATUS = 'none' -%}
{%- if customer -%}
    {%- if customer.tags contains 'Active Subscriber' -%}
        {%- assign USER_SUBSCRIPTION_STATUS = 'active' -%}
    {%- elsif customer and customer.tags contains 'Inactive Subscriber' -%}
        {%- assign USER_SUBSCRIPTION_STATUS = 'inactive' -%}
    {%- endif -%}
{%- endif -%}

<div class="u-m0" data-sticky-container itemscope itemtype="http://schema.org/Product">
    <meta itemprop="name" content="{{ product.title }}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="image" content="https:{{ product.featured_image | img_url: '600x600' }}">
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
    </span>

    <div class="o-layout o-layout--large">
        <div class="o-layout__item u-5/12@mobile u-6/12@desktop u-show@mobile">
            <div class="js-sticky" data-margin-top="100">
                <img src="https://{{ 'box-open.png' | asset_img_url:'800x' }}" alt="" class="u-1/1 js-product-image u-mb u-subscription-product-image">

                {%- assign feature_layout = '' -%}
                {%- assign is_block = false -%}
                {% include 'subscription-features-bar' %}
            </div>
        </div><div class="o-layout__item u-7/12@mobile u-6/12@desktop">
            <div class="u-pl@mobile c-animated-content">
                <form action="/cart/add" data-productid="{{ product.id }}" class="u-hide">
                    {% include 'subscription-product' %}
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" data-productid="{{product.id}}">
                </form>

                <div id="product-subscription-container">
                    <h1 class="u-heading u-mb u-mb+@mobile" itemProp="name" data-order="1">
                        {%- if PRODUCT_TYPE == 'subscription' -%}
                            Sign up
                        {%- else -%}
                            Send a gift
                        {%- endif -%}
                    </h1>

                    <div style="padding-top: 6px;">
                        <div class="c-subscription-placeholder__label u-2/12"></div>

                        <div class="u-flex">
                            <div class="c-subscription-placeholder__button"></div>
                            <div class="c-subscription-placeholder__button u-ml-"></div>
                        </div>
                    </div>
                    <div class="u-mt u-mt+@mobile">
                        <div class="c-subscription-placeholder__label u-3/12"></div>

                        <div class="u-flex">
                            <div class="c-subscription-placeholder__button"></div>
                            <div class="c-subscription-placeholder__button u-ml-"></div>
                        </div>
                    </div>
                    <div class="u-mt u-mt+@mobile">
                        <div class="c-subscription-placeholder__label u-5/12"></div>

                        <div class="u-flex@mobile">
                            <div class="c-subscription-placeholder__button"></div>
                            <div class="c-subscription-placeholder__button u-mt- u-mt0@mobile u-ml-@mobile"></div>
                        </div>
                    </div>
                    {%- if PRODUCT_TYPE == 'gift' -%}
                        <div class="u-mt u-mt+@mobile">
                            <div class="c-subscription-placeholder__label u-5/12"></div>

                            <div class="u-flex@mobile">
                                <div class="c-subscription-placeholder__button"></div>
                                <div class="c-subscription-placeholder__button u-mt- u-mt0@mobile u-ml-@mobile"></div>
                                <div class="c-subscription-placeholder__button u-mt- u-mt0@mobile u-ml-@mobile"></div>
                            </div>
                        </div>
                        <div class="u-mt u-mt+@mobile">
                            <div class="c-subscription-placeholder__label u-5/12"></div>

                            <div class="c-subscription-placeholder__button"></div>
                        </div>
                    {%- endif -%}
                    <div class="u-mt u-mt+@mobile">
                        <div class="t-tertiary u-p- u-p@mobile">
                            <div class="c-subscription-placeholder__label u-3/12 u-m-auto u-mb-"></div>
                            <div class="c-subscription-placeholder__label u-6/12 u-m-auto u-mb-"></div>
                            <button class="c-button c-button--primary u-1/1" disabled style="opacity: 0.3;">&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
window.globalData.subscriptionContent = {
    allProducts:  {
        subscription: {{ all_products['monthly-subscription'] | json }},
        gift1: {{ all_products['gift-one-month-subscription'] | json }},
        gift2: {{ all_products['gift-two-month-subscription'] | json }},
        gift4: {{ all_products['gift-four-month-subscription'] | json }}
    },
    copy: {
        renewalLabel: "{{ settings.subscription_renewal_label }}",
        renewal: "{{ settings.subscription_renewal_copy }}",
    },
    images: {
        cards: '{{ 'supported-cards.png' | asset_img_url: 'x30' }}',
        cards_2x: '{{ 'supported-cards.png' | asset_img_url: 'x60' }}'
    },
    manageURL: '/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/',
    product: {
        available: {{ product.available }},
        description: '{{ product.description }}',
        handle: '{{ product.handle }}',
        id: '{{ product.id }}',
        price: {{ product.price }},
        tags: {{ product.tags | json }},
        title: '{{ product.title }}',
        type: '{{ PRODUCT_TYPE }}',
        variants: {{ product.variants | json }},
    },
    shippingDay: {{ settings.subscription_shipping_day }},
    userStatus: '{{ USER_SUBSCRIPTION_STATUS }}'
};

function reChargeProcessCart(subscriptionId) {
    function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
    do {
            token=get_cookie('cart');
    }
    while(token == undefined);

    var myshopify_domain='{{ shop.permanent_domain }}'
    try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker ='' }
    var customer_param = '{% if customer %}customer_id={{customer.id}}&customer_email={{customer.email}}{% endif %}'
    checkout_url= "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param+"&subscription_id="+subscriptionId;

    return checkout_url;
}
</script>
