{%- assign block = section.blocks[0] -%}
{%- if block.settings.background_photo != blank -%}
    {%- assign banner_background_image = block.settings.background_photo | img_url: 'x540' -%}
    {%- assign banner_background_image_large = block.settings.background_photo | img_url: 'x1100' -%}
{%- endif -%}
{%- if block.settings.background_photo_mobile != blank -%}
    {%- assign banner_background_image_mobile = block.settings.background_photo_mobile | img_url: 'x540' -%}
{% endif -%}
{%- assign banner_background_colour = block.settings.background_colour -%}
{%- assign banner_button_theme = block.settings.button_theme -%}
{%- assign banner_text_theme = block.settings.text_theme -%}
{%- assign banner_text_position = block.settings.text_position -%}
{%- assign banner_title = block.settings.title -%}
{%- assign banner_text = block.settings.text -%}
{%- assign banner_primary_cta_url = block.settings.primary_cta_url -%}
{%- assign banner_primary_cta_label = block.settings.primary_cta_label -%}
{%- assign banner_secondary_cta_url = block.settings.secondary_cta_url -%}
{%- assign banner_secondary_cta_label = block.settings.secondary_cta_label -%}
{%- assign banner_classes = 'c-hero-banner--tall c-hero-banner--reversed' -%}
{% include 'hero-banner' %}

{% schema %}
{
    "name": "The Box as a gift",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "background_photo",
                    "label": "Background photo"
                },
                {
                    "type": "color",
                    "id": "background_colour",
                    "label": "Background Colour"
                },
                {
                    "type": "select",
                    "id": "button_theme",
                    "label": "Button theme",
                    "options": [
                        {"value": "light", "label": "Light"},
                        {"value": "dark", "label": "Dark"}
                    ],
                    "default": "dark"
                },
                {
                    "type": "select",
                    "id": "text_theme",
                    "label": "Text theme",
                    "options": [
                        {"value": "white", "label": "Light"},
                        {"value": "black", "label": "Dark"}
                    ],
                    "default": "white"
                },
                {
                    "type": "select",
                    "id": "text_position",
                    "label": "Text position",
                    "options": [
                        {"value": "left", "label": "Left"},
                        {"value": "right", "label": "Right"}
                    ],
                    "default": "left"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "primary_cta_url",
                    "label": "Primary CTA URL"
                },
                {
                    "type": "text",
                    "id": "primary_cta_label",
                    "label": "Primary CTA Label"
                },
                {
                    "type": "url",
                    "id": "secondary_cta_url",
                    "label": "Secondary CTA URL"
                },
                {
                    "type": "text",
                    "id": "secondary_cta_label",
                    "label": "Secondary CTA Label"
                }
            ]
        }
    ]
}
{% endschema %}
