<h2 class="u-heading u-h1 u-mb u-text-align-center u-display-block u-m-auto u-9/12@mobile u-fade-intersected js-monitor">{{ section.settings.title }}</h2>
<p class="u-text-align-center u-mb u-mb+@mobile s-content-links">{{ section.settings.subtitle }}</p>

<div class="o-layout o-layout u-stack-layout@mobile u-flex@mobile u-align-items-center">
    <div class="o-layout__item u-7/12@mobile u-flex@mobile">
        <img src="{{ section.settings.image | img_url: '800x' }}" class="u-w-auto u-max-w-100 u-max-h-500 u-p u-parallax" data-rellax-percentage="0.1" data-rellax-speed="-0.2" style="object-fit: contain;">
    </div><div class="o-layout__item u-5/12@mobile u-flex@mobile u-direction-column">
        {%- for block in section.blocks -%}
            <div class="u-flex u-align-items-center u-ph@mobile u-ph+@tablet u-mb u-fade-intersected js-monitor">
                <div class="u-h1 u-color-bright-sun u-mb0 u-pr">
                    {{ block.settings.title }}
                </div>
                <div>
                    <div class="u-h4 u-font-weight-600 u-mb--">{{ block.settings.subtitle }}</div>
                    <p>{{ block.settings.content }}</p>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>

{% if section.settings.cta_url != blank and section.settings.cta_label != blank %}
    <div class="u-mt u-text-align-center">
        {%- assign url = section.settings.cta_url -%}
        {%- assign label = section.settings.cta_label -%}
        {%- assign attributes = 'data-order="3"' -%}
        {% include 'primary-cta-button' %}
    </div>
{% endif %}

{% schema %}
{
    "name": "The Box Items",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subitle"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA Label"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content"
                }
            ]
        }
    ]
}
{% endschema %}
