<section class="o-section o-wrapper">
    <div class="o-layout c-animated-content">
        {%- for block in section.blocks -%}<!--
        --><div class="o-layout__item u-6/12 u-3/12@mobile u-text-align-center@mobile">
                <div class="u-h1 u-color-bright-sun u-mb0" data-order="{{ forloop.index }}">
                    {{ block.settings.title }}
                </div>
                <div class="u-h5 u-font-weight-600 u-mb--">
                    {{ block.settings.subtitle }}
                </div>
                <p class="u-ph@mobile">{{ block.settings.content }}</p>
            </div><!--
        -->{%- endfor -%}
    </div>
</section>


{% schema %}
{
    "name": "The Box Items (simple)",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content"
                }
            ]
        }
    ]
}
{% endschema %}
