{%- assign image_1 = section.blocks[0].settings.image -%}
{%- assign image_2 = section.blocks[1].settings.image -%}
{%- assign image_3 = section.blocks[2].settings.image -%}
{%- assign is_tall = true -%}
{%- assign id = 'box-model' -%}
{% include 'three-image-block' %}

{% schema %}
{
    "name": "The Box Model",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 5,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}
