{%- assign types = 'treat|toy|chew|accessory' | split: '|' -%}
{%- for type in types -%}
    <div data-sticky-container>
        <div class="o-layout o-layout--huge u-mb u-mb+ u-flex@mobile">
            <div class="o-layout__item u-6/12@mobile u-order-2">
                <div class="u-pb+ u-pb++@mobile js-sticky" data-margin-top="140">
                    {%- if type == 'treat' -%}
                        {%- assign title = section.settings.treats_title -%}
                        {% assign copy = section.settings.treats_copy -%}
                    {%- elsif type == 'toy' -%}
                        {%- assign title = section.settings.toys_title -%}
                        {% assign copy = section.settings.toys_copy -%}
                    {%- elsif type == 'chew' -%}
                        {%- assign title = section.settings.chew_title -%}
                        {% assign copy = section.settings.chew_copy -%}
                    {%- elsif type == 'accessory' -%}
                        {%- assign title = section.settings.accessory_title -%}
                        {% assign copy = section.settings.accessory_copy -%}
                    {%- endif -%}

                    <h2 class="u-heading u-mb">{{ title }}</h2>  
                    <p>{{ copy }}</p>
                </div>
            </div><div class="o-layout__item u-6/12@mobile u-order-1">
                {%- for block in section.blocks -%}
                    {%- if block.settings.type == type -%}
                        <div class="u-font-size-12 u-mb u-mb+@mobile">
                            <img src="{{ block.settings.image | img_url: '550x' }}" srcset="{{ block.settings.image | img_url: '1100x' }} 2x" alt="An example of the {{ type }}" class="u-1/1 u-mb-  u-fade-intersected js-monitor">
                            
                            <strong>{{ block.settings.title }}</strong><br />
                            <span>{{ block.settings.copy }}</span>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endfor -%}

{% schema %}
{
    "name": "The Box Items (detailed)",
    "settings": [
        {
            "type": "text",
            "id": "treats_title",
            "label": "Treats Title"
        },
        {
            "type": "textarea",
            "id": "treats_copy",
            "label": "Treats Copy"
        },
        {
            "type": "text",
            "id": "toys_title",
            "label": "Toys Title"
        },
        {
            "type": "textarea",
            "id": "toys_copy",
            "label": "Toys Copy"
        },
        {
            "type": "text",
            "id": "chew_title",
            "label": "Chew Title"
        },
        {
            "type": "textarea",
            "id": "chew_copy",
            "label": "Chew Copy"
        },
        {
            "type": "text",
            "id": "accessory_title",
            "label": "Accessory Title"
        },
        {
            "type": "textarea",
            "id": "accessory_copy",
            "label": "Accessory Copy"
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "textarea",
                    "id": "copy",
                    "label": "Copy"
                },
                {
                    "type": "select",
                    "id": "type",
                    "label": "Item type",
                    "options": [
                        {"value": "treat", "label": "Treat"},
                        {"value": "toy", "label": "Toy"},
                        {"value": "chew", "label": "Chew"},
                        {"value": "accessory", "label": "Accessory"}
                    ]
                }
            ]
        }
    ]
}
{% endschema %}
