$color-white: #fff;
$color-black: #221f20;
$color-grey: #979797;
$color-grey-dark: darken(#979797, 5%);
$color-grey-light: #e5e5e6;
$color-pampas: #f4f3ef;
$color-pampas-dark: #ebeae6;
$color-catalina: #033b7c;
$color-red: #eb2905;
$color-copper: #874139;
$color-leaf: #606140;
$color-banana: #be9153;
$color-bright-sun: #fae345;

$color-primary: $color-catalina;
$color-secondary: $color-pampas;
$color-tertiary: $color-pampas-dark;

$color-main-background: $color-white;
