$global-radius: 30px !default;
$global-radius--small: 3px !default;
$global-transition-speed: 0.25s;
$global-transition-easing: ease-in-out;
$global-transition-easing-cubic: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$global-transition: all $global-transition-speed $global-transition-easing !default;

$global-shadow: 0 30px 70px rgba($color-black, 0.03);
$global-shadow-active: 0 30px 80px rgba($color-black, 0.06);

$global-highest-z-index: 100;

$global-font-size: $inuit-global-font-size;
$global-line-height: $inuit-global-line-height;

$global-font-family-body: 'Apercu-Light', Arial, sans-serif;
$global-font-family-bold: 'Apercu-Regular', Arial, sans-serif;
$global-font-family-light: 'Apercu-Light', Arial, sans-serif;
$global-font-family-headings: 'Lyon', Georgia, serif;

$global-background-color: $color-white;
$global-font-color: $color-black;

$global-site-header-spacing: $global-spacing-large;
$global-site-header-breakpoint: tablet;
$global-site-header-height: 85px;
$global-site-header-height--small: 60px;

$global-image-placeholder-color: darken($color-white, 5%);

$global-editorial-wrapper-max-width: 1000px;
