https://cdn.shopify.com/s/files/1/0031/3003/2246/files/email-header-declined.jpg?16780170811841943699

||

Oh no, you might miss this month's box

||

Hi, {{name}}. Unfortunately we were unable to charge your card for this month's Barkism box. We will try again if possible, but if we can't take the charge then you will miss out on this month's box. Please login to your Barkism account to update your payment details.

||

<p><strong>Hi {{name}},</strong></p>

<p>Unfortunately we were unable to charge your card for this month's Barkism box. We will try again if possible, but if we can't take the charge then you will miss out on this month's box.</p>

<p>Please login to your Barkism account to update your payment details.</p>

<br><br>

<!-- Button : BEGIN -->
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 24px auto;">
    <tr>
        <td class="button-td button-td-primary" style="border-radius: 4px;">
            <a class="button-a button-a-primary" href="{{link}}" target="_blank" style="background: #033b7c; border: 1px solid #033b7c; font-family: 'Apercu-Light', sans-serif; font-size: 15px; line-height: 18px; text-decoration: none; padding: 12px 24px; color: #ffffff; display: block; border-radius: 30px;">Manage my account</a>
        </td>
    </tr>
</table>
<!-- Button : END -->

<br>
