https://cdn.shopify.com/s/files/1/0031/3003/2246/files/email-header-expiring.jpg?16780170811841943699

||

Update your payment details

||

Hi, {{name}}. We have successfully processed your request and will refund you £{{refund_amount}}. This can take up to 5-7 working days, but if you are still waiting after this time then please don't hesitate to get in touch with us.

||

<p><strong>Hi {{name}},</strong></p>

<p>This is a friendly email to remind that the credit card you have on file is about to expire. If you want to keep getting your monthly Barkism boxes you will need to update your payment details.</p>

<p>You can update your details by logging into your Barkism account.</p>

<br>

<!-- Button : BEGIN -->
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 24px auto;">
    <tr>
        <td class="button-td button-td-primary" style="border-radius: 4px;">
            <a class="button-a button-a-primary" href="{{link}}" target="_blank" style="background: #033b7c; border: 1px solid #033b7c; font-family: 'Apercu-Light', sans-serif; font-size: 15px; line-height: 18px; text-decoration: none; padding: 12px 24px; color: #ffffff; display: block; border-radius: 30px;">Manage my account</a>
        </td>
    </tr>
</table>
<!-- Button : END -->

<br>

