https://cdn.shopify.com/s/files/1/0031/3003/2246/files/email-header-activation.jpg?8692809582770327127

||

Another month of treats and toys

||

Hi, {{name}}. We're pleased to confirm that we've successfully taken payment for this month's box. As always, our boxes ship on the 7th of the month.

||

<p><strong>Hi {{name}},</strong></p>

<p>We're pleased to confirm that we've successfully taken payment for this month's Barkism box. As always, our boxes ship on the 7th of the month.</p>

<p>You can manage your subcription from your user account on Barkism.com.</p>

<br>

<!-- Button : BEGIN -->
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 24px auto;">
    <tr>
        <td class="button-td button-td-primary" style="border-radius: 4px;">
            <a class="button-a button-a-primary" href="{{link}}" target="_blank" style="background: #033b7c; border: 1px solid #033b7c; font-family: 'Apercu-Light', sans-serif; font-size: 15px; line-height: 18px; text-decoration: none; padding: 12px 24px; color: #ffffff; display: block; border-radius: 30px;">Manage my account</a>
        </td>
    </tr>
</table>
<!-- Button : END -->

<br>
