https://cdn.shopify.com/s/files/1/0031/3003/2246/files/email-header-refund.jpg?16780170811841943699

||

Your refund from Barkism

||

Hi, {{name}}. We have successfully processed your request and will refund you £{{refund_amount}}. This can take up to 5-7 working days, but if you are still waiting after this time then please don't hesitate to get in touch with us.

||

<p><strong>Hi {{name}},</strong></p>

<p>We have successfully processed your request and will refund you £{{refund_amount}}. This can take up to 5-7 working days, but if you are still waiting after this time then please don't hesitate to get in touch with us.</p>
