https://cdn.shopify.com/s/files/1/0031/3003/2246/files/email-header-welcome.jpg?16780170811841943699

||

Welcome to the club

||

Hi, {{name}}. {% for line_item in line_items %}
    {% if line_item.product_title == 'Monthly Subscription' %}
        You have just signed up to a Barkism {{line_item.variant_title}} subscription. Every month your dog will receive delicious healthy treats, irresistable toys and more.
    {% endif %}
    {% if line_item.product_title == 'Gift – One Month Subscription' or line_item.product_title == 'Gift – Two Month Subscription' or line_item.product_title == 'Gift – Four Month Subscription' %}
        You have just bought a Barkism {{line_item.variant_title}} gift. The lucky dog will receive delicious healthy treats, irresistable toys and more.
    {% endif %}
{% endfor %}

||

<p><strong>Hi {{name}},</strong></p>

{% for line_item in line_items %}
    {% if line_item.product_title == 'Monthly Subscription' %}
        <p style="margin: 0 0 10px;">You have just signed up to a Barkism {{line_item.variant_title}} subscription. Every month your dog will receive delicious healthy treats, irresistable toys and more.</p>

        <p>As a reminder, payments are taken on the first of every month, and boxes ship on the 7th of every month. You can find out your delivery schedule and manage your details from your Barkism account.</p>
    {% endif %}
    {% if line_item.product_title == 'Gift – One Month Subscription' or line_item.product_title == 'Gift – Two Month Subscription' or line_item.product_title == 'Gift – Four Month Subscription' %}
        <p style="margin: 0 0 10px;">You have just bought a Barkism {{line_item.variant_title}} gift. The lucky dog will receive delicious healthy treats, irresistable toys and more.</p>
        <p>As a reminder, boxes ship on the 7th of the month. You can find out your delivery schedule and manage your shipping details from your Barkism account.</p>
    {% endif %}
{% endfor %}

<br><br>

<!-- Button : BEGIN -->
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 24px auto;">
    <tr>
        <td class="button-td button-td-primary" style="border-radius: 4px;">
            <a class="button-a button-a-primary" href="{{link}}" target="_blank" style="background: #033b7c; border: 1px solid #033b7c; font-family: 'Apercu-Light', sans-serif; font-size: 15px; line-height: 18px; text-decoration: none; padding: 12px 24px; color: #ffffff; display: block; border-radius: 30px;">Manage my account</a>
        </td>
    </tr>
</table>
<!-- Button : END -->

<br>
