https://cdn.shopify.com/s/files/1/0031/3003/2246/files/email-header-cancellation.jpg?16780170811841943699

||

We're sad to see you go

||

Your Barkism subscription has now been cancelled and you will not be billed for future boxes. You can resubscribe at anytime by logging into Barkism.com and managing your subscription. If you need any help, please let us know.

||

<p><strong>Hi {{name}},</strong></p>

<p>Your Barkism subscription has now been cancelled and you will not be billed for future boxes.</p>
<p>You can resubscribe at anytime by logging into Barkism.com and managing your subscription. If you need any help, please let us know.</p>

<br>

<!-- Button : BEGIN -->
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 24px auto;">
    <tr>
        <td class="button-td button-td-primary" style="border-radius: 4px;">
            <a class="button-a button-a-primary" href="{{link}}" target="_blank" style="background: #033b7c; border: 1px solid #033b7c; font-family: 'Apercu-Light', sans-serif; font-size: 15px; line-height: 18px; text-decoration: none; padding: 12px 24px; color: #ffffff; display: block; border-radius: 30px;">Manage my account</a>
        </td>
    </tr>
</table>
<!-- Button : END -->

<br>
