@font-face {
    font-family: 'Apercu-Light';
    src: url('https://cdn.shopify.com/s/files/1/0031/3003/2246/files/apercu-light.woff2?363267711980345047')
            format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0031/3003/2246/files/apercu-light.woff?363267711980345047')
            format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lyon-Light';
    src: url('https://cdn.shopify.com/s/files/1/0031/3003/2246/files/lyon-light.woff2?363267711980345047'),
        url('https://cdn.shopify.com/s/files/1/0031/3003/2246/files/lyon-light.woff?363267711980345047')
            format('woff');
    font-weight: normal;
    font-style: normal;
}
