{%- assign SHOW_SITE_FURNITURE = true -%}
{%- assign SHOW_PROMO_POPUP = true -%}
{%- assign IS_SUBSCRIPTION_TOOL_PAGE = false -%}
{%- assign IS_CUSTOMER_PAGE = false -%}
{%- if template == 'password' -%}
    {%- assign SHOW_SITE_FURNITURE = false -%}
{%- endif -%}
{%- if request.path contains '/tools/recurring/customer' -%}
    {%- assign IS_SUBSCRIPTION_TOOL_PAGE = true -%}
{%- endif -%}
{%- if IS_SUBSCRIPTION_TOOL_PAGE or template contains 'customers' -%}
    {%- assign IS_CUSTOMER_PAGE = true -%}
{%- endif -%}
{%- if IS_SUBSCRIPTION_TOOL_PAGE or template contains 'customers' or template == 'index' or template == 'product' -%}
    {%- assign SHOW_PROMO_POPUP = false -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{ shop.locale }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="{{ settings.color_primary }}">
        <meta name="google-site-verification" content="toPp7O_dNDxtlWUjxnw4tSHEozl5a2Ui2nLeOXEI6Sc">
        <link rel="dns-prefetch preconnect" href="//cdn.shopify.com">
        <link rel="dns-prefetch preconnect" href="//fbcdn.net">
        <link rel="dns-prefetch preconnect" href="//consent.cookiebot.com">
        <link rel="dns-prefetch preconnect" href="//rechargeassets-bootstrapheroes-rechargeapps.netdna-ssl.com">
        
        {%- capture seo_title -%}
            {{ page_title }}
            
            {%- if current_tags -%}
                {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
            {%- endif -%}
            {%- if current_page != 1 -%}
                &ndash; {{ 'general.meta.page' | t: page: current_page }}
            {%- endif -%}
            {%- unless page_title contains shop.name -%}
                &ndash; {{ shop.name }}
            {%- endunless -%}
        {%- endcapture -%}
        <title>{{ seo_title }}</title>
        
        {%- if page_description -%}
            <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}
        
        <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
        <link rel="canonical" href="{{ canonical_url }}">
        
        <meta property="og:image" content="https:{{ 'social.jpg' | asset_img_url: '1200x' }}">
        {% include 'social-meta-tags' %}
        {{ 'main.css' | asset_url | stylesheet_tag }}
        {%- if IS_CUSTOMER_PAGE -%}
            {{ 'account.css' | asset_url | stylesheet_tag }}
        {%- endif -%}

        {%- if IS_SUBSCRIPTION_TOOL_PAGE -%}
            {{ 'subscription-tool.css' | asset_url | stylesheet_tag }}
        {%- endif -%}

        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,es5,Array.prototype.includes,String.prototype.includes,Object.values,Object.assign,fetch"></script>
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="{{ settings.cookiebot_id }}" type="text/javascript"></script>
        <script>window.globalData = {gaID: '{{ settings.google_analytics_id }}', rootURL:'{{ shop.url }}'};window.isModernBrowser = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);</script>
        {{ content_for_header }}
    </head>
    <body id="{{ page_title | handle }}" class="s-{{ template.name | handle }}">
        {%- if SHOW_SITE_FURNITURE -%}
            {% section 'header' %}
        {%- endif -%}

        <main role="main" id="main" class="u-flex u-direction-column u-flex-grow">
            {%- if IS_CUSTOMER_PAGE -%}
                {% include 'customer-account-layout' %}
            {%- else -%}
                {{ content_for_layout }}
            {%- endif -%}
        </main>

        {%- if SHOW_SITE_FURNITURE -%}
            {%- unless IS_CUSTOMER_PAGE -%}
                {% section 'instagram-feed' %}
            {%- endunless -%}
            {% section 'footer' %}
            {% section 'overlay-navigation' %}
        {%- endif -%}
        
        <script src="{{ 'main.js' | asset_url }}"></script>
        <script src="{{ 'vendor.js' | asset_url }}"></script>
        {%- capture routed_js -%}
            {%- if template == 'index' -%}home{%- endif -%}
            {%- if template == 'product' -%}product{%- endif -%}
            {%- if template == 'customers/account' -%}account{%- endif -%}
            {%- if IS_SUBSCRIPTION_TOOL_PAGE -%}subscription-tool{%- endif -%}
        {%- endcapture -%}
        {%- if routed_js != blank -%}
            <script src="{{ routed_js | append: '.js' | asset_url }}"></script>
        {%- endif -%}

        {%- if customer -%}
            {% include 'notifications-list-js' %}
        {%- endif -%}

        {% comment %}
            {% include 'subscription-theme-footer' %}
        {% endcomment %}
        
        {%- if SHOW_PROMO_POPUP and SHOW_SITE_FURNITURE -%}
            {% include 'promo-popup' %}
        {%- endif -%}
    </body>
</html>
